description = "Anrufen"

[viewBag]
==
<div class="background-01b py-4">
    
    {% if wrapContainer %}
        <div class="container bg-white py-4">
    {% elseif wrapContainerFluid %}
        <div class="container-fluid bg-white py-4">
    {% else %}
        <div class="bg-white py-4">
    {% endif %}

        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center">
                    {% content 'products/call-title.txt' %}
                </h1>
                <div class="row">
                    <div class="col-xs-12 col-md-8 offset-md-2 px-3">
                        {% content 'products/call' %}
                        <p class="text-center display-4">
                            <a href="tel:{{str_camel(this.theme.phone_number)}}">{{this.theme.phone_number}}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
        
</div>