description = "bottom html code for barba layouts"

[viewBag]
==
</div>
            </div>
            {% partial 'jumplink-footer' %}
        </section>
        
        {% partial 'jumplink-browser-detection-bar' %}
        
        <template id="slick-prev-arrow">
            <button type="button" data-role="none" class="slick-prev slick-prev-iconset slick-arrow w-24 h-24" aria-label="Previous" role="button">
                {% partial 'jumplink-iconset' name='arrow_carrot_thin' direction='left' color='gray' size='24' %}
            </button>
        </template>
        
        <template id="slick-next-arrow">
            <button type="button" data-role="none" class="slick-next slick-next-iconset slick-arrow w-24 h-24" aria-label="Next" role="button">
                {% partial 'jumplink-iconset' name='arrow_carrot_thin' direction='right' color='gray' size='24' %}
            </button>
        </template>        
        
        {# Deps TODO check jquery.lazy.plugins.js http://jquery.eisbehr.de/lazy/ #}
        <script src="{{ [
            'assets/vendor/jquery/dist/jquery.js',
            'assets/vendor/jquery-lazy/jquery.lazy.js',
            'assets/vendor/jquery-lazy/jquery.lazy.plugins.js',
            'assets/vendor/tether/dist/js/tether.js',
            'assets/vendor/bootstrap/dist/js/bootstrap.js',
            'assets/vendor/simpler-sidebar/dist/jquery.simpler-sidebar.js',
            'assets/vendor/barba.js/dist/barba.js',
            'assets/vendor/gsap/src/uncompressed/TweenMax.js',
            'assets/vendor/leaflet/dist/leaflet.js',
            'assets/vendor/slick-carousel/slick/slick.js',
            'assets/vendor/jquery-touch-events/src/jquery.mobile-events.js',
            'assets/vendor/prism/prism.js',
            'assets/vendor/moment/min/moment-with-locales.js',
            'assets/vendor/visionmedia-debug/dist/debug.js',
            'assets/vendor/platform.js/platform.js',
        ]|theme }}" ></script>
        
        <script>
            L.Icon.Default.imagePath = "{{'/assets/vendor/leaflet/dist/images/' | theme}}";
        </script>
        
         {# Own #}
        <script src="{{ [
            'assets/javascript/utilities.js',
            'assets/javascript/styleicons.js',
            'assets/javascript/sticky-kit.js',
            'assets/javascript/dataApi.js',
            'assets/javascript/templates.js',
            'assets/javascript/browser-detection.js',
            'assets/javascript/partials.js',
            'assets/javascript/app.js',
        ]|theme }}"></script>
        
        {% framework %}
        {% scripts %}

    </body>
</html>