description = "Header mit Titel und Untertext"

[viewBag]
==
{% if wrapContainer %}
    <div class="container text-{{textAlignment}} {{paddingTopClass}} {{paddingBottomClass}}">
{% endif %}
{% if wrapContainerFluid %}
    <div class="container-fluid text-{{textAlignment}} {{paddingTopClass}} {{paddingBottomClass}}">
{% endif %}

<div class="row" id="header-{{ str_studly(this.page.title) | lower | replace({'/':'_'}) }}">
    <div class="{{columnClass}}">
        <h1 class="{{titleFontFamilyClass}}">
            {{title|raw}}
        </h1>
        <p class="{{subtextFontFamilyClass}}">{{subtext|raw}}</p>
    </div>
</div>

{% if wrapContainer %}
    </div>
{% endif %}
{% if wrapContainerFluid %}
    </div>
{% endif %}