description = "Anfahrtskarte"

[viewBag]
snippetCode = "jumplink-snippet-location"
snippetName = "Anfahrtskarte"
snippetProperties[handle][title] = "Handle"
snippetProperties[handle][type] = "string"
snippetProperties[handle][default] = "main"
snippetProperties[handle][options][] = ""
snippetProperties[title][title] = "Titel"
snippetProperties[title][type] = "string"
snippetProperties[title][default] = ""
snippetProperties[title][options][] = ""
snippetProperties[iconName][title] = "Icon Dateiname"
snippetProperties[iconName][type] = "string"
snippetProperties[iconName][default] = "location-icon.svg"
snippetProperties[iconName][options][] = ""
snippetProperties[color][title] = "Farbe"
snippetProperties[color][type] = "string"
snippetProperties[color][default] = "success"
snippetProperties[color][options][] = ""
snippetProperties[lat][title] = "Koordinaten Latitude"
snippetProperties[lat][type] = "string"
snippetProperties[lat][default] = 53.8080536
snippetProperties[lat][options][] = ""
snippetProperties[lon][title] = "Koordinaten Longitude"
snippetProperties[lon][type] = "string"
snippetProperties[lon][default] = 8.8970829
snippetProperties[lon][options][] = ""
snippetProperties[zoom][title] = "Koordinaten Zoom"
snippetProperties[zoom][type] = "string"
snippetProperties[zoom][default] = 18
snippetProperties[zoom][options][] = ""
snippetProperties[iconAnchor][title] = "Iicon Mittelpunkt"
snippetProperties[iconAnchor][type] = "string"
snippetProperties[iconAnchor][default] = "[21, 21]"
snippetProperties[iconAnchor][options][] = ""
snippetProperties[iconSize][title] = "icon Größe"
snippetProperties[iconSize][type] = "string"
snippetProperties[iconSize][default] = "[42, 42]"
snippetProperties[iconSize][options][] = ""
snippetProperties[popupText][title] = "Beschriftung"
snippetProperties[popupText][type] = "string"
snippetProperties[popupText][default] = ""
snippetProperties[popupText][options][] = ""
snippetProperties[popupAddLat][title] = "Beschriftung Position abzügliche Latitude"
snippetProperties[popupAddLat][type] = "string"
snippetProperties[popupAddLat][default] = 0.0001
snippetProperties[popupAddLat][options][] = ""
snippetProperties[link][title] = "Link zur Anfahrtskarte"
snippetProperties[link][type] = "string"
snippetProperties[link][default] = "https://www.google.de/maps/dir//Am+Kirchpl.+6,+21762+Otterndorf/@53.8080536,8.8970829,17z/data=!4m16!1m7!3m6!1s0x47b3fefb232489d1:0xc82b82118037ff9b!2sAm+Kirchpl.+6,+21762+Otterndorf!3b1!8m2!3d53.8080505!4d8.8992716!4m7!1m0!1m5!1m1!1s0x47b3fefb232489d1:0xc82b82118037ff9b!2m2!1d8.8992716!2d53.8080505"
snippetProperties[link][options][] = ""
snippetProperties[wrapContainer][title] = "Mit Rand"
snippetProperties[wrapContainer][type] = "checkbox"
snippetProperties[wrapContainer][default] = 1
snippetProperties[wrapContainer][options][] = ""
==
{% partial 'jumplink-location' handle=handle title=title iconName=iconName color=color lat=lat lon=lon zoom=zoom iconAnchor=iconAnchor iconSize=iconSize popupText=popupText popupAddLat=popupAddLat link=link wrapContainer=wrapContainer %}