[viewBag]
snippetCode = "jumplink-snippet-images-row"
snippetName = "Einheitliche Images Row mit Verlinkungen"
snippetProperties[xs][title] = "Breite auf extra kleinen Geräten"
snippetProperties[xs][type] = "dropdown"
snippetProperties[xs][default] = 12
snippetProperties[xs][options][] = 0/12
snippetProperties[xs][options][] = 1/12
snippetProperties[xs][options][] = 2/12
snippetProperties[xs][options][] = 3/12
snippetProperties[xs][options][] = 4/12
snippetProperties[xs][options][] = 5/12
snippetProperties[xs][options][] = 6/12
snippetProperties[xs][options][] = 7/12
snippetProperties[xs][options][] = 8/12
snippetProperties[xs][options][] = 9/12
snippetProperties[xs][options][] = 10/12
snippetProperties[xs][options][] = 11/12
snippetProperties[xs][options][] = 12/12
snippetProperties[sm][title] = "Breite auf kleinen Geräten"
snippetProperties[sm][type] = "dropdown"
snippetProperties[sm][default] = 12
snippetProperties[sm][options][] = 0/12
snippetProperties[sm][options][] = 1/12
snippetProperties[sm][options][] = 2/12
snippetProperties[sm][options][] = 3/12
snippetProperties[sm][options][] = 4/12
snippetProperties[sm][options][] = 5/12
snippetProperties[sm][options][] = 6/12
snippetProperties[sm][options][] = 7/12
snippetProperties[sm][options][] = 8/12
snippetProperties[sm][options][] = 9/12
snippetProperties[sm][options][] = 10/12
snippetProperties[sm][options][] = 11/12
snippetProperties[sm][options][] = 12/12
snippetProperties[md][title] = "Breite auf mittleren Geräten"
snippetProperties[md][type] = "dropdown"
snippetProperties[md][default] = 6
snippetProperties[md][options][] = 0/12
snippetProperties[md][options][] = 1/12
snippetProperties[md][options][] = 2/12
snippetProperties[md][options][] = 3/12
snippetProperties[md][options][] = 4/12
snippetProperties[md][options][] = 5/12
snippetProperties[md][options][] = 6/12
snippetProperties[md][options][] = 7/12
snippetProperties[md][options][] = 8/12
snippetProperties[md][options][] = 9/12
snippetProperties[md][options][] = 10/12
snippetProperties[md][options][] = 11/12
snippetProperties[md][options][] = 12/12
snippetProperties[lg][title] = "Breite auf breiten Geräten"
snippetProperties[lg][type] = "dropdown"
snippetProperties[lg][default] = 4
snippetProperties[lg][options][] = 0/12
snippetProperties[lg][options][] = 1/12
snippetProperties[lg][options][] = 2/12
snippetProperties[lg][options][] = 3/12
snippetProperties[lg][options][] = 4/12
snippetProperties[lg][options][] = 5/12
snippetProperties[lg][options][] = 6/12
snippetProperties[lg][options][] = 7/12
snippetProperties[lg][options][] = 8/12
snippetProperties[lg][options][] = 9/12
snippetProperties[lg][options][] = 10/12
snippetProperties[lg][options][] = 11/12
snippetProperties[lg][options][] = 12/12
snippetProperties[xl][title] = "Breite auf extra großen Geräten"
snippetProperties[xl][type] = "dropdown"
snippetProperties[xl][default] = 4
snippetProperties[xl][options][] = 0/12
snippetProperties[xl][options][] = 1/12
snippetProperties[xl][options][] = 2/12
snippetProperties[xl][options][] = 3/12
snippetProperties[xl][options][] = 4/12
snippetProperties[xl][options][] = 5/12
snippetProperties[xl][options][] = 6/12
snippetProperties[xl][options][] = 7/12
snippetProperties[xl][options][] = 8/12
snippetProperties[xl][options][] = 9/12
snippetProperties[xl][options][] = 10/12
snippetProperties[xl][options][] = 11/12
snippetProperties[xl][options][] = 12/12
snippetProperties[count][title] = "Anzahl Bilder"
snippetProperties[count][type] = "dropdown"
snippetProperties[count][default] = 3
snippetProperties[count][options][] = 0
snippetProperties[count][options][] = 1
snippetProperties[count][options][] = 2
snippetProperties[count][options][] = 3
snippetProperties[count][options][] = 4
snippetProperties[source1][title] = "Bild 1 Quelle"
snippetProperties[source1][type] = "string"
snippetProperties[source1][default] = ""
snippetProperties[source1][options][] = ""
snippetProperties[url1][title] = "Bild 1 URL"
snippetProperties[url1][type] = "string"
snippetProperties[url1][default] = ""
snippetProperties[url1][options][] = ""
snippetProperties[text1][title] = "Bild 1 Text"
snippetProperties[text1][type] = "string"
snippetProperties[text1][default] = ""
snippetProperties[text1][options][] = ""
snippetProperties[color1][title] = "Bild 1 Color"
snippetProperties[color1][type] = "dropdown"
snippetProperties[color1][default] = "primary"
snippetProperties[color1][options][primary] = "primary"
snippetProperties[color1][options][secondary] = "secondary"
snippetProperties[color1][options][success] = "success"
snippetProperties[color1][options][danger] = "danger"
snippetProperties[color1][options][warning] = "warning"
snippetProperties[color1][options][info] = "info"
snippetProperties[source2][title] = "Bild 2 Quelle"
snippetProperties[source2][type] = "string"
snippetProperties[source2][default] = ""
snippetProperties[source2][options][] = ""
snippetProperties[url2][title] = "Bild 2 URL"
snippetProperties[url2][type] = "string"
snippetProperties[url2][default] = ""
snippetProperties[url2][options][] = ""
snippetProperties[text2][title] = "Bild 2 Text"
snippetProperties[text2][type] = "string"
snippetProperties[text2][default] = ""
snippetProperties[text2][options][] = ""
snippetProperties[color2][title] = "Bild 2 Color"
snippetProperties[color2][type] = "dropdown"
snippetProperties[color2][default] = "primary"
snippetProperties[color2][options][primary] = "primary"
snippetProperties[color2][options][secondary] = "secondary"
snippetProperties[color2][options][success] = "success"
snippetProperties[color2][options][danger] = "danger"
snippetProperties[color2][options][warning] = "warning"
snippetProperties[color2][options][info] = "info"
snippetProperties[source3][title] = "Bild 3 Quelle"
snippetProperties[source3][type] = "string"
snippetProperties[source3][default] = ""
snippetProperties[source3][options][] = ""
snippetProperties[url3][title] = "Bild 3 URL"
snippetProperties[url3][type] = "string"
snippetProperties[url3][default] = ""
snippetProperties[url3][options][] = ""
snippetProperties[text3][title] = "Bild 3 Text"
snippetProperties[text3][type] = "string"
snippetProperties[text3][default] = ""
snippetProperties[text3][options][] = ""
snippetProperties[color3][title] = "Bild 3 Color"
snippetProperties[color3][type] = "dropdown"
snippetProperties[color3][default] = "primary"
snippetProperties[color3][options][primary] = "primary"
snippetProperties[color3][options][secondary] = "secondary"
snippetProperties[color3][options][success] = "success"
snippetProperties[color3][options][danger] = "danger"
snippetProperties[color3][options][warning] = "warning"
snippetProperties[color3][options][info] = "info"
snippetProperties[source4][title] = "Bild 4 Quelle"
snippetProperties[source4][type] = "string"
snippetProperties[source4][default] = ""
snippetProperties[source4][options][] = ""
snippetProperties[url4][title] = "Bild 4 URL"
snippetProperties[url4][type] = "string"
snippetProperties[url4][default] = ""
snippetProperties[url4][options][] = ""
snippetProperties[text4][title] = "Bild 4 Text"
snippetProperties[text4][type] = "string"
snippetProperties[text4][default] = ""
snippetProperties[text4][options][] = ""
snippetProperties[color4][title] = "Bild 4 Color"
snippetProperties[color4][type] = "dropdown"
snippetProperties[color4][default] = "primary"
snippetProperties[color4][options][primary] = "primary"
snippetProperties[color4][options][secondary] = "secondary"
snippetProperties[color4][options][success] = "success"
snippetProperties[color4][options][danger] = "danger"
snippetProperties[color4][options][warning] = "warning"
snippetProperties[color4][options][info] = "info"
==
{% set partialId = 'jumplink-snippet-images-row' %}

{% if wrapContainer %}
    {% set containerClass = 'container'%}
{% else %}
    {% set containerClass = 'container-fluid'%}
{% endif %}

{% if paddingXMD is not defined %}
    {% set paddingXMD = 'px-md-3' %}
{% endif %}

{% set columnClass = 'col-'~xs~' col-sm-'~sm~' col-md-'~md~' col-lg-'~lg%}


<div class="{{containerClass}} {{paddingXMD}} jumplink-partial {{partialId}}" data-partial-name="{{partialId}}">
    <div class="row">
        {% for index in 1..count %}
            {% if index == 1 %}
                {% set source = source1 | media%}
                {% set text = text1 %}
                {% set url = url1 %}
                {% set color = color1 %}
            {% elseif index == 2 %}
                {% set source = source2 | media%}
                {% set text = text2 %}
                {% set url = url2 %}
                {% set color = color2 %}
            {% elseif index == 3 %}
                {% set source = source3 | media%}
                {% set text = text3 %}
                {% set url = url3 %}
                {% set color = color3 %}
            {% elseif index == 4 %}
                {% set source = source4 | media%}
                {% set text = text4 %}
                {% set url = url4 %}
                {% set color = color4 %}
            {% endif %}
            
            <div class="{{columnClass}}">
                <a href="{{url | app}}">
                    <div class="background-box ratio-2-3 background-box-hover bg-{{color}}"></div>
                    <div class="lazy background-box ratio-2-3" data-src="{{source}}"></div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>