description = "Snippet: Button"

[viewBag]
snippetCode = "jumplink-snippet-button"
snippetName = "Button"
snippetProperties[wrapContainer][title] = "Mit Rand"
snippetProperties[wrapContainer][type] = "checkbox"
snippetProperties[wrapContainer][default] = 0
snippetProperties[wrapContainer][options][] = ""
snippetProperties[buttonAlignment][title] = "Ausrichtung"
snippetProperties[buttonAlignment][type] = "dropdown"
snippetProperties[buttonAlignment][default] = "left"
snippetProperties[buttonAlignment][options][left] = "Linksbündig"
snippetProperties[buttonAlignment][options][center] = "Zentriert"
snippetProperties[buttonAlignment][options][justify] = "Blocksatz"
snippetProperties[buttonAlignment][options][right] = "Rechtsbündig"
snippetProperties[marginTop][title] = "Abstand oben"
snippetProperties[marginTop][type] = "dropdown"
snippetProperties[marginTop][default] = 1
snippetProperties[marginTop][options][] = "keiner"
snippetProperties[marginTop][options][] = "klein"
snippetProperties[marginTop][options][] = "wenig"
snippetProperties[marginTop][options][] = "mittel"
snippetProperties[marginTop][options][] = "mehr"
snippetProperties[marginTop][options][] = "groß"
snippetProperties[marginBottom][title] = "Abstand unten"
snippetProperties[marginBottom][type] = "dropdown"
snippetProperties[marginBottom][default] = 1
snippetProperties[marginBottom][options][] = "keiner"
snippetProperties[marginBottom][options][] = "klein"
snippetProperties[marginBottom][options][] = "wenig"
snippetProperties[marginBottom][options][] = "mittel"
snippetProperties[marginBottom][options][] = "mehr"
snippetProperties[marginBottom][options][] = "groß"
snippetProperties[buttonStyle][title] = "Style"
snippetProperties[buttonStyle][type] = "dropdown"
snippetProperties[buttonStyle][default] = "primary"
snippetProperties[buttonStyle][options][outline-primary] = "Outline Primary"
snippetProperties[buttonStyle][options][outline-secondary] = "Outline Secondary"
snippetProperties[buttonStyle][options][outline-success] = "Outline Success"
snippetProperties[buttonStyle][options][outline-danger] = "Outline Danger"
snippetProperties[buttonStyle][options][outline-warning] = "Outline Warning"
snippetProperties[buttonStyle][options][outline-info] = "Outline Info"
snippetProperties[buttonStyle][options][outline-light] = "Outline Light"
snippetProperties[buttonStyle][options][outline-dark] = "Outline Dark"
snippetProperties[buttonStyle][options][primary] = "Primary"
snippetProperties[buttonStyle][options][secondary] = "Secondary"
snippetProperties[buttonStyle][options][success] = "Success"
snippetProperties[buttonStyle][options][danger] = "Danger"
snippetProperties[buttonStyle][options][warning] = "Warning"
snippetProperties[buttonStyle][options][info] = "Info"
snippetProperties[buttonStyle][options][light] = "Light"
snippetProperties[buttonStyle][options][dark] = "Dark"
snippetProperties[buttonStyle][options][link] = "Link"
snippetProperties[buttonLabel][title] = "Label"
snippetProperties[buttonLabel][type] = "string"
snippetProperties[buttonLabel][default] = "Platzhalter"
snippetProperties[buttonLabel][options][] = ""
snippetProperties[jumpToPage][title] = "Gehe zu Seite"
snippetProperties[jumpToPage][type] = "string"
snippetProperties[jumpToPage][default] = ""
snippetProperties[jumpToPage][options][] = ""
snippetProperties[xs][title] = "Breite auf extra kleinen Geräten"
snippetProperties[xs][type] = "dropdown"
snippetProperties[xs][default] = 12
snippetProperties[xs][options][] = "0/12"
snippetProperties[xs][options][] = "1/12"
snippetProperties[xs][options][] = "2/12"
snippetProperties[xs][options][] = "3/12"
snippetProperties[xs][options][] = "4/12"
snippetProperties[xs][options][] = "5/12"
snippetProperties[xs][options][] = "6/12"
snippetProperties[xs][options][] = "7/12"
snippetProperties[xs][options][] = "8/12"
snippetProperties[xs][options][] = "9/12"
snippetProperties[xs][options][] = "10/12"
snippetProperties[xs][options][] = "11/12"
snippetProperties[xs][options][] = "12/12"
snippetProperties[sm][title] = "Breite auf kleinen Geräten"
snippetProperties[sm][type] = "dropdown"
snippetProperties[sm][default] = 12
snippetProperties[sm][options][] = "0/12"
snippetProperties[sm][options][] = "1/12"
snippetProperties[sm][options][] = "2/12"
snippetProperties[sm][options][] = "3/12"
snippetProperties[sm][options][] = "4/12"
snippetProperties[sm][options][] = "5/12"
snippetProperties[sm][options][] = "6/12"
snippetProperties[sm][options][] = "7/12"
snippetProperties[sm][options][] = "8/12"
snippetProperties[sm][options][] = "9/12"
snippetProperties[sm][options][] = "10/12"
snippetProperties[sm][options][] = "11/12"
snippetProperties[sm][options][] = "12/12"
snippetProperties[md][title] = "Breite auf mittleren Geräten"
snippetProperties[md][type] = "dropdown"
snippetProperties[md][default] = 6
snippetProperties[md][options][] = "0/12"
snippetProperties[md][options][] = "1/12"
snippetProperties[md][options][] = "2/12"
snippetProperties[md][options][] = "3/12"
snippetProperties[md][options][] = "4/12"
snippetProperties[md][options][] = "5/12"
snippetProperties[md][options][] = "6/12"
snippetProperties[md][options][] = "7/12"
snippetProperties[md][options][] = "8/12"
snippetProperties[md][options][] = "9/12"
snippetProperties[md][options][] = "10/12"
snippetProperties[md][options][] = "11/12"
snippetProperties[md][options][] = "12/12"
snippetProperties[lg][title] = "Breite auf breiten Geräten"
snippetProperties[lg][type] = "dropdown"
snippetProperties[lg][default] = 4
snippetProperties[lg][options][] = "0/12"
snippetProperties[lg][options][] = "1/12"
snippetProperties[lg][options][] = "2/12"
snippetProperties[lg][options][] = "3/12"
snippetProperties[lg][options][] = "4/12"
snippetProperties[lg][options][] = "5/12"
snippetProperties[lg][options][] = "6/12"
snippetProperties[lg][options][] = "7/12"
snippetProperties[lg][options][] = "8/12"
snippetProperties[lg][options][] = "9/12"
snippetProperties[lg][options][] = "10/12"
snippetProperties[lg][options][] = "11/12"
snippetProperties[lg][options][] = "12/12"
snippetProperties[xl][title] = "Breite auf extra großen Geräten"
snippetProperties[xl][type] = "dropdown"
snippetProperties[xl][default] = 4
snippetProperties[xl][options][] = "0/12"
snippetProperties[xl][options][] = "1/12"
snippetProperties[xl][options][] = "2/12"
snippetProperties[xl][options][] = "3/12"
snippetProperties[xl][options][] = "4/12"
snippetProperties[xl][options][] = "5/12"
snippetProperties[xl][options][] = "6/12"
snippetProperties[xl][options][] = "7/12"
snippetProperties[xl][options][] = "8/12"
snippetProperties[xl][options][] = "9/12"
snippetProperties[xl][options][] = "10/12"
snippetProperties[xl][options][] = "11/12"
snippetProperties[xl][options][] = "12/12"
snippetProperties[offsetxs][title] = "Linker Abstand auf extra kleinen Geräten"
snippetProperties[offsetxs][type] = "dropdown"
snippetProperties[offsetxs][default] = 12
snippetProperties[offsetxs][options][] = "0/12"
snippetProperties[offsetxs][options][] = "1/12"
snippetProperties[offsetxs][options][] = "2/12"
snippetProperties[offsetxs][options][] = "3/12"
snippetProperties[offsetxs][options][] = "4/12"
snippetProperties[offsetxs][options][] = "5/12"
snippetProperties[offsetxs][options][] = "6/12"
snippetProperties[offsetxs][options][] = "7/12"
snippetProperties[offsetxs][options][] = "8/12"
snippetProperties[offsetxs][options][] = "9/12"
snippetProperties[offsetxs][options][] = "10/12"
snippetProperties[offsetxs][options][] = "11/12"
snippetProperties[offsetxs][options][] = "12/12"
snippetProperties[offsetsm][title] = "Linker Abstand auf kleinen Geräten"
snippetProperties[offsetsm][type] = "dropdown"
snippetProperties[offsetsm][default] = 12
snippetProperties[offsetsm][options][] = "0/12"
snippetProperties[offsetsm][options][] = "1/12"
snippetProperties[offsetsm][options][] = "2/12"
snippetProperties[offsetsm][options][] = "3/12"
snippetProperties[offsetsm][options][] = "4/12"
snippetProperties[offsetsm][options][] = "5/12"
snippetProperties[offsetsm][options][] = "6/12"
snippetProperties[offsetsm][options][] = "7/12"
snippetProperties[offsetsm][options][] = "8/12"
snippetProperties[offsetsm][options][] = "9/12"
snippetProperties[offsetsm][options][] = "10/12"
snippetProperties[offsetsm][options][] = "11/12"
snippetProperties[offsetsm][options][] = "12/12"
snippetProperties[offsetmd][title] = "Linker Abstand auf mittleren Geräten"
snippetProperties[offsetmd][type] = "dropdown"
snippetProperties[offsetmd][default] = 6
snippetProperties[offsetmd][options][] = "0/12"
snippetProperties[offsetmd][options][] = "1/12"
snippetProperties[offsetmd][options][] = "2/12"
snippetProperties[offsetmd][options][] = "3/12"
snippetProperties[offsetmd][options][] = "4/12"
snippetProperties[offsetmd][options][] = "5/12"
snippetProperties[offsetmd][options][] = "6/12"
snippetProperties[offsetmd][options][] = "7/12"
snippetProperties[offsetmd][options][] = "8/12"
snippetProperties[offsetmd][options][] = "9/12"
snippetProperties[offsetmd][options][] = "10/12"
snippetProperties[offsetmd][options][] = "11/12"
snippetProperties[offsetmd][options][] = "12/12"
snippetProperties[offsetlg][title] = "Linker Abstand auf breiten Geräten"
snippetProperties[offsetlg][type] = "dropdown"
snippetProperties[offsetlg][default] = 4
snippetProperties[offsetlg][options][] = "0/12"
snippetProperties[offsetlg][options][] = "1/12"
snippetProperties[offsetlg][options][] = "2/12"
snippetProperties[offsetlg][options][] = "3/12"
snippetProperties[offsetlg][options][] = "4/12"
snippetProperties[offsetlg][options][] = "5/12"
snippetProperties[offsetlg][options][] = "6/12"
snippetProperties[offsetlg][options][] = "7/12"
snippetProperties[offsetlg][options][] = "8/12"
snippetProperties[offsetlg][options][] = "9/12"
snippetProperties[offsetlg][options][] = "10/12"
snippetProperties[offsetlg][options][] = "11/12"
snippetProperties[offsetlg][options][] = "12/12"
snippetProperties[offsetxl][title] = "Linker Abstand auf extra großen Geräten"
snippetProperties[offsetxl][type] = "dropdown"
snippetProperties[offsetxl][default] = 4
snippetProperties[offsetxl][options][] = "0/12"
snippetProperties[offsetxl][options][] = "1/12"
snippetProperties[offsetxl][options][] = "2/12"
snippetProperties[offsetxl][options][] = "3/12"
snippetProperties[offsetxl][options][] = "4/12"
snippetProperties[offsetxl][options][] = "5/12"
snippetProperties[offsetxl][options][] = "6/12"
snippetProperties[offsetxl][options][] = "7/12"
snippetProperties[offsetxl][options][] = "8/12"
snippetProperties[offsetxl][options][] = "9/12"
snippetProperties[offsetxl][options][] = "10/12"
snippetProperties[offsetxl][options][] = "11/12"
snippetProperties[offsetxl][options][] = "12/12"
==
{% if wrapContainer %}
    {% set containerClass = 'container'%}
{% else %}
    {% set containerClass = 'container-fluid'%}
{% endif %}


{% set btnClass = 'btn btn-' ~ buttonStyle %}


{% set marginTopClass = 'mt-' ~ marginTop %}
{% set marginBottomClass = 'mb-' ~ marginBottom %}

{% set buttonAlignmentClass = 'text-' ~ buttonAlignment %}

{% set columnClass = 'col-'~xs~' offset-'~offsetxs~' col-sm-'~sm~' offset-sm-'~offsetsm~' col-md-'~md~' offset-md-'~offsetmd~' col-lg-'~lg~' offset-lg-'~offsetlg%}

<div class="{{containerClass}}">
    <div class="row ">
        <div class="col-xs-12">
            <div class="row">
                <div class="{{columnClass}} {{marginTopClass}} {{marginBottomClass}} {{buttonAlignmentClass}}">
                    <a href="{{jumpToPage | app}}" class="{{btnClass}}">
                        {{buttonLabel}}
                    </a>
                </div>
            </div>
        </div>
   </div>
</div>