[viewBag]
snippetCode = "jumplink-snippet-images-row"
snippetName = "Einheitliche Images Row mit Verlinkungen"
snippetProperties[spacingTop][title] = "Abstand oben"
snippetProperties[spacingTop][type] = "dropdown"
snippetProperties[spacingTop][default] = 5
snippetProperties[spacingTop][options][] = "keiner"
snippetProperties[spacingTop][options][] = "klein"
snippetProperties[spacingTop][options][] = "wenig"
snippetProperties[spacingTop][options][] = "mittel"
snippetProperties[spacingTop][options][] = "mehr"
snippetProperties[spacingTop][options][] = "groß"
snippetProperties[spacingBottom][title] = "Abstand unten"
snippetProperties[spacingBottom][type] = "dropdown"
snippetProperties[spacingBottom][default] = 0
snippetProperties[spacingBottom][options][] = "keiner"
snippetProperties[spacingBottom][options][] = "klein"
snippetProperties[spacingBottom][options][] = "wenig"
snippetProperties[spacingBottom][options][] = "mittel"
snippetProperties[spacingBottom][options][] = "mehr"
snippetProperties[spacingBottom][options][] = "groß"
snippetProperties[spacingLeft][title] = "Abstand links"
snippetProperties[spacingLeft][type] = "dropdown"
snippetProperties[spacingLeft][default] = 3
snippetProperties[spacingLeft][options][] = "keiner"
snippetProperties[spacingLeft][options][] = "klein"
snippetProperties[spacingLeft][options][] = "wenig"
snippetProperties[spacingLeft][options][] = "mittel"
snippetProperties[spacingLeft][options][] = "mehr"
snippetProperties[spacingLeft][options][] = "groß"
snippetProperties[spacingRight][title] = "Abstand rechts"
snippetProperties[spacingRight][type] = "dropdown"
snippetProperties[spacingRight][default] = 3
snippetProperties[spacingRight][options][] = "keiner"
snippetProperties[spacingRight][options][] = "klein"
snippetProperties[spacingRight][options][] = "wenig"
snippetProperties[spacingRight][options][] = "mittel"
snippetProperties[spacingRight][options][] = "mehr"
snippetProperties[spacingRight][options][] = "groß"
snippetProperties[wrapContainer][title] = "Mit Rand"
snippetProperties[wrapContainer][type] = "checkbox"
snippetProperties[wrapContainer][default] = 0
snippetProperties[wrapContainer][options][] = ""
snippetProperties[xs][title] = "Breite auf extra kleinen Geräten"
snippetProperties[xs][type] = "dropdown"
snippetProperties[xs][default] = 12
snippetProperties[xs][options][] = "0/12"
snippetProperties[xs][options][] = "1/12"
snippetProperties[xs][options][] = "2/12"
snippetProperties[xs][options][] = "3/12"
snippetProperties[xs][options][] = "4/12"
snippetProperties[xs][options][] = "5/12"
snippetProperties[xs][options][] = "6/12"
snippetProperties[xs][options][] = "7/12"
snippetProperties[xs][options][] = "8/12"
snippetProperties[xs][options][] = "9/12"
snippetProperties[xs][options][] = "10/12"
snippetProperties[xs][options][] = "11/12"
snippetProperties[xs][options][] = "12/12"
snippetProperties[sm][title] = "Breite auf kleinen Geräten"
snippetProperties[sm][type] = "dropdown"
snippetProperties[sm][default] = 12
snippetProperties[sm][options][] = "0/12"
snippetProperties[sm][options][] = "1/12"
snippetProperties[sm][options][] = "2/12"
snippetProperties[sm][options][] = "3/12"
snippetProperties[sm][options][] = "4/12"
snippetProperties[sm][options][] = "5/12"
snippetProperties[sm][options][] = "6/12"
snippetProperties[sm][options][] = "7/12"
snippetProperties[sm][options][] = "8/12"
snippetProperties[sm][options][] = "9/12"
snippetProperties[sm][options][] = "10/12"
snippetProperties[sm][options][] = "11/12"
snippetProperties[sm][options][] = "12/12"
snippetProperties[md][title] = "Breite auf mittleren Geräten"
snippetProperties[md][type] = "dropdown"
snippetProperties[md][default] = 6
snippetProperties[md][options][] = "0/12"
snippetProperties[md][options][] = "1/12"
snippetProperties[md][options][] = "2/12"
snippetProperties[md][options][] = "3/12"
snippetProperties[md][options][] = "4/12"
snippetProperties[md][options][] = "5/12"
snippetProperties[md][options][] = "6/12"
snippetProperties[md][options][] = "7/12"
snippetProperties[md][options][] = "8/12"
snippetProperties[md][options][] = "9/12"
snippetProperties[md][options][] = "10/12"
snippetProperties[md][options][] = "11/12"
snippetProperties[md][options][] = "12/12"
snippetProperties[lg][title] = "Breite auf breiten Geräten"
snippetProperties[lg][type] = "dropdown"
snippetProperties[lg][default] = 4
snippetProperties[lg][options][] = "0/12"
snippetProperties[lg][options][] = "1/12"
snippetProperties[lg][options][] = "2/12"
snippetProperties[lg][options][] = "3/12"
snippetProperties[lg][options][] = "4/12"
snippetProperties[lg][options][] = "5/12"
snippetProperties[lg][options][] = "6/12"
snippetProperties[lg][options][] = "7/12"
snippetProperties[lg][options][] = "8/12"
snippetProperties[lg][options][] = "9/12"
snippetProperties[lg][options][] = "10/12"
snippetProperties[lg][options][] = "11/12"
snippetProperties[lg][options][] = "12/12"
snippetProperties[xl][title] = "Breite auf extra großen Geräten"
snippetProperties[xl][type] = "dropdown"
snippetProperties[xl][default] = 4
snippetProperties[xl][options][] = "0/12"
snippetProperties[xl][options][] = "1/12"
snippetProperties[xl][options][] = "2/12"
snippetProperties[xl][options][] = "3/12"
snippetProperties[xl][options][] = "4/12"
snippetProperties[xl][options][] = "5/12"
snippetProperties[xl][options][] = "6/12"
snippetProperties[xl][options][] = "7/12"
snippetProperties[xl][options][] = "8/12"
snippetProperties[xl][options][] = "9/12"
snippetProperties[xl][options][] = "10/12"
snippetProperties[xl][options][] = "11/12"
snippetProperties[xl][options][] = "12/12"
snippetProperties[offsetxs][title] = "Linker Abstand auf extra kleinen Geräten"
snippetProperties[offsetxs][type] = "dropdown"
snippetProperties[offsetxs][default] = 0
snippetProperties[offsetxs][options][] = "0/12"
snippetProperties[offsetxs][options][] = "1/12"
snippetProperties[offsetxs][options][] = "2/12"
snippetProperties[offsetxs][options][] = "3/12"
snippetProperties[offsetxs][options][] = "4/12"
snippetProperties[offsetxs][options][] = "5/12"
snippetProperties[offsetxs][options][] = "6/12"
snippetProperties[offsetxs][options][] = "7/12"
snippetProperties[offsetxs][options][] = "8/12"
snippetProperties[offsetxs][options][] = "9/12"
snippetProperties[offsetxs][options][] = "10/12"
snippetProperties[offsetxs][options][] = "11/12"
snippetProperties[offsetxs][options][] = "12/12"
snippetProperties[offsetsm][title] = "Linker Abstand auf kleinen Geräten"
snippetProperties[offsetsm][type] = "dropdown"
snippetProperties[offsetsm][default] = 0
snippetProperties[offsetsm][options][] = "0/12"
snippetProperties[offsetsm][options][] = "1/12"
snippetProperties[offsetsm][options][] = "2/12"
snippetProperties[offsetsm][options][] = "3/12"
snippetProperties[offsetsm][options][] = "4/12"
snippetProperties[offsetsm][options][] = "5/12"
snippetProperties[offsetsm][options][] = "6/12"
snippetProperties[offsetsm][options][] = "7/12"
snippetProperties[offsetsm][options][] = "8/12"
snippetProperties[offsetsm][options][] = "9/12"
snippetProperties[offsetsm][options][] = "10/12"
snippetProperties[offsetsm][options][] = "11/12"
snippetProperties[offsetsm][options][] = "12/12"
snippetProperties[offsetmd][title] = "Linker Abstand auf mittleren Geräten"
snippetProperties[offsetmd][type] = "dropdown"
snippetProperties[offsetmd][default] = 0
snippetProperties[offsetmd][options][] = "0/12"
snippetProperties[offsetmd][options][] = "1/12"
snippetProperties[offsetmd][options][] = "2/12"
snippetProperties[offsetmd][options][] = "3/12"
snippetProperties[offsetmd][options][] = "4/12"
snippetProperties[offsetmd][options][] = "5/12"
snippetProperties[offsetmd][options][] = "6/12"
snippetProperties[offsetmd][options][] = "7/12"
snippetProperties[offsetmd][options][] = "8/12"
snippetProperties[offsetmd][options][] = "9/12"
snippetProperties[offsetmd][options][] = "10/12"
snippetProperties[offsetmd][options][] = "11/12"
snippetProperties[offsetmd][options][] = "12/12"
snippetProperties[offsetlg][title] = "Linker Abstand auf breiten Geräten"
snippetProperties[offsetlg][type] = "dropdown"
snippetProperties[offsetlg][default] = 0
snippetProperties[offsetlg][options][] = "0/12"
snippetProperties[offsetlg][options][] = "1/12"
snippetProperties[offsetlg][options][] = "2/12"
snippetProperties[offsetlg][options][] = "3/12"
snippetProperties[offsetlg][options][] = "4/12"
snippetProperties[offsetlg][options][] = "5/12"
snippetProperties[offsetlg][options][] = "6/12"
snippetProperties[offsetlg][options][] = "7/12"
snippetProperties[offsetlg][options][] = "8/12"
snippetProperties[offsetlg][options][] = "9/12"
snippetProperties[offsetlg][options][] = "10/12"
snippetProperties[offsetlg][options][] = "11/12"
snippetProperties[offsetlg][options][] = "12/12"
snippetProperties[offsetxl][title] = "Linker Abstand auf extra großen Geräten"
snippetProperties[offsetxl][type] = "dropdown"
snippetProperties[offsetxl][default] = 0
snippetProperties[offsetxl][options][] = "0/12"
snippetProperties[offsetxl][options][] = "1/12"
snippetProperties[offsetxl][options][] = "2/12"
snippetProperties[offsetxl][options][] = "3/12"
snippetProperties[offsetxl][options][] = "4/12"
snippetProperties[offsetxl][options][] = "5/12"
snippetProperties[offsetxl][options][] = "6/12"
snippetProperties[offsetxl][options][] = "7/12"
snippetProperties[offsetxl][options][] = "8/12"
snippetProperties[offsetxl][options][] = "9/12"
snippetProperties[offsetxl][options][] = "10/12"
snippetProperties[offsetxl][options][] = "11/12"
snippetProperties[offsetxl][options][] = "12/12"
snippetProperties[count][title] = "Anzahl Bilder"
snippetProperties[count][type] = "dropdown"
snippetProperties[count][default] = 3
snippetProperties[count][options][] = 0
snippetProperties[count][options][] = 1
snippetProperties[count][options][] = 2
snippetProperties[count][options][] = 3
snippetProperties[count][options][] = 4
snippetProperties[source1][title] = "Bild 1 Quelle"
snippetProperties[source1][type] = "string"
snippetProperties[source1][default] = ""
snippetProperties[source1][options][] = ""
snippetProperties[url1][title] = "Bild 1 URL"
snippetProperties[url1][type] = "string"
snippetProperties[url1][default] = ""
snippetProperties[url1][options][] = ""
snippetProperties[title1][title] = "Bild 1 Titel"
snippetProperties[title1][type] = "string"
snippetProperties[title1][default] = ""
snippetProperties[title1][options][] = ""
snippetProperties[text1][title] = "Bild 1 Text"
snippetProperties[text1][type] = "string"
snippetProperties[text1][default] = ""
snippetProperties[text1][options][] = ""
snippetProperties[fontColor1][title] = "Bild 1 Schriftfarbe"
snippetProperties[fontColor1][type] = "dropdown"
snippetProperties[fontColor1][default] = "default"
snippetProperties[fontColor1][options][default] = "Standard"
snippetProperties[fontColor1][options][black] = "Schwarz"
snippetProperties[fontColor1][options][white] = "Weiss"
snippetProperties[fontColor1][options][primary] = "primary"
snippetProperties[fontColor1][options][secondary] = "secondary"
snippetProperties[fontColor1][options][success] = "success"
snippetProperties[fontColor1][options][danger] = "danger"
snippetProperties[fontColor1][options][warning] = "warning"
snippetProperties[fontColor1][options][info] = "info"
snippetProperties[contentHorizontal1][title] = "Bild 1 Content Horizontal"
snippetProperties[contentHorizontal1][type] = "dropdown"
snippetProperties[contentHorizontal1][default] = "left"
snippetProperties[contentHorizontal1][options][left] = "links"
snippetProperties[contentHorizontal1][options][right] = "rechts"
snippetProperties[contentHorizontal1][options][center] = "mittig"
snippetProperties[contentVertical1][title] = "Bild 1 Content Vertikal"
snippetProperties[contentVertical1][type] = "dropdown"
snippetProperties[contentVertical1][default] = "top"
snippetProperties[contentVertical1][options][top] = "oben"
snippetProperties[contentVertical1][options][bottom] = "unten"
snippetProperties[contentVertical1][options][center] = "mittig"
snippetProperties[contentSpacingTop1][title] = "Bild 1 Content Abstand oben"
snippetProperties[contentSpacingTop1][type] = "dropdown"
snippetProperties[contentSpacingTop1][default] = 2
snippetProperties[contentSpacingTop1][options][] = "keiner"
snippetProperties[contentSpacingTop1][options][] = "klein"
snippetProperties[contentSpacingTop1][options][] = "wenig"
snippetProperties[contentSpacingTop1][options][] = "mittel"
snippetProperties[contentSpacingTop1][options][] = "mehr"
snippetProperties[contentSpacingTop1][options][] = "groß"
snippetProperties[contentSpacingBottom1][title] = "Bild 1 Content Abstand unten"
snippetProperties[contentSpacingBottom1][type] = "dropdown"
snippetProperties[contentSpacingBottom1][default] = 2
snippetProperties[contentSpacingBottom1][options][] = "keiner"
snippetProperties[contentSpacingBottom1][options][] = "klein"
snippetProperties[contentSpacingBottom1][options][] = "wenig"
snippetProperties[contentSpacingBottom1][options][] = "mittel"
snippetProperties[contentSpacingBottom1][options][] = "mehr"
snippetProperties[contentSpacingBottom1][options][] = "groß"
snippetProperties[contentSpacingLeft1][title] = "Bild 1 Content Abstand links"
snippetProperties[contentSpacingLeft1][type] = "dropdown"
snippetProperties[contentSpacingLeft1][default] = 2
snippetProperties[contentSpacingLeft1][options][] = "keiner"
snippetProperties[contentSpacingLeft1][options][] = "klein"
snippetProperties[contentSpacingLeft1][options][] = "wenig"
snippetProperties[contentSpacingLeft1][options][] = "mittel"
snippetProperties[contentSpacingLeft1][options][] = "mehr"
snippetProperties[contentSpacingLeft1][options][] = "groß"
snippetProperties[contentSpacingRight1][title] = "Bild 1 Content Abstand rechts"
snippetProperties[contentSpacingRight1][type] = "dropdown"
snippetProperties[contentSpacingRight1][default] = 2
snippetProperties[contentSpacingRight1][options][] = "keiner"
snippetProperties[contentSpacingRight1][options][] = "klein"
snippetProperties[contentSpacingRight1][options][] = "wenig"
snippetProperties[contentSpacingRight1][options][] = "mittel"
snippetProperties[contentSpacingRight1][options][] = "mehr"
snippetProperties[contentSpacingRight1][options][] = "groß"
snippetProperties[color1][title] = "Bild 1 Color Layer"
snippetProperties[color1][type] = "dropdown"
snippetProperties[color1][default] = "primary"
snippetProperties[color1][options][none] = "Keine"
snippetProperties[color1][options][primary] = "primary"
snippetProperties[color1][options][secondary] = "secondary"
snippetProperties[color1][options][success] = "success"
snippetProperties[color1][options][danger] = "danger"
snippetProperties[color1][options][warning] = "warning"
snippetProperties[color1][options][info] = "info"
snippetProperties[hoverLayer1][title] = "Bild 1 Hover Layer"
snippetProperties[hoverLayer1][type] = "checkbox"
snippetProperties[hoverLayer1][default] = 1
snippetProperties[hoverLayer1][options][] = ""
snippetProperties[ratio1][title] = "Bild 1 Seitenverhältnis"
snippetProperties[ratio1][type] = "string"
snippetProperties[ratio1][default] = "16:9"
snippetProperties[ratio1][options][] = ""
snippetProperties[source2][title] = "Bild 2 Quelle"
snippetProperties[source2][type] = "string"
snippetProperties[source2][default] = ""
snippetProperties[source2][options][] = ""
snippetProperties[url2][title] = "Bild 2 URL"
snippetProperties[url2][type] = "string"
snippetProperties[url2][default] = ""
snippetProperties[url2][options][] = ""
snippetProperties[title2][title] = "Bild 2 Titel"
snippetProperties[title2][type] = "string"
snippetProperties[title2][default] = ""
snippetProperties[title2][options][] = ""
snippetProperties[text2][title] = "Bild 2 Text"
snippetProperties[text2][type] = "string"
snippetProperties[text2][default] = ""
snippetProperties[text2][options][] = ""
snippetProperties[fontColor2][title] = "Bild 2 Schriftfarbe"
snippetProperties[fontColor2][type] = "dropdown"
snippetProperties[fontColor2][default] = "default"
snippetProperties[fontColor2][options][default] = "Standard"
snippetProperties[fontColor2][options][black] = "Schwarz"
snippetProperties[fontColor2][options][white] = "Weiss"
snippetProperties[fontColor2][options][primary] = "primary"
snippetProperties[fontColor2][options][secondary] = "secondary"
snippetProperties[fontColor2][options][success] = "success"
snippetProperties[fontColor2][options][danger] = "danger"
snippetProperties[fontColor2][options][warning] = "warning"
snippetProperties[fontColor2][options][info] = "info"
snippetProperties[contentHorizontal2][title] = "Bild 2 Content Horizontal"
snippetProperties[contentHorizontal2][type] = "dropdown"
snippetProperties[contentHorizontal2][default] = "left"
snippetProperties[contentHorizontal2][options][left] = "links"
snippetProperties[contentHorizontal2][options][right] = "rechts"
snippetProperties[contentHorizontal2][options][center] = "mittig"
snippetProperties[contentVertical2][title] = "Bild 2 Content Vertikal"
snippetProperties[contentVertical2][type] = "dropdown"
snippetProperties[contentVertical2][default] = "top"
snippetProperties[contentVertical2][options][top] = "oben"
snippetProperties[contentVertical2][options][bottom] = "unten"
snippetProperties[contentVertical2][options][center] = "mittig"
snippetProperties[contentSpacingTop2][title] = "Bild 2 Content Abstand oben"
snippetProperties[contentSpacingTop2][type] = "dropdown"
snippetProperties[contentSpacingTop2][default] = 2
snippetProperties[contentSpacingTop2][options][] = "keiner"
snippetProperties[contentSpacingTop2][options][] = "klein"
snippetProperties[contentSpacingTop2][options][] = "wenig"
snippetProperties[contentSpacingTop2][options][] = "mittel"
snippetProperties[contentSpacingTop2][options][] = "mehr"
snippetProperties[contentSpacingTop2][options][] = "groß"
snippetProperties[contentSpacingBottom2][title] = "Bild 2 Content Abstand unten"
snippetProperties[contentSpacingBottom2][type] = "dropdown"
snippetProperties[contentSpacingBottom2][default] = 2
snippetProperties[contentSpacingBottom2][options][] = "keiner"
snippetProperties[contentSpacingBottom2][options][] = "klein"
snippetProperties[contentSpacingBottom2][options][] = "wenig"
snippetProperties[contentSpacingBottom2][options][] = "mittel"
snippetProperties[contentSpacingBottom2][options][] = "mehr"
snippetProperties[contentSpacingBottom2][options][] = "groß"
snippetProperties[contentSpacingLeft2][title] = "Bild 2 Content Abstand links"
snippetProperties[contentSpacingLeft2][type] = "dropdown"
snippetProperties[contentSpacingLeft2][default] = 2
snippetProperties[contentSpacingLeft2][options][] = "keiner"
snippetProperties[contentSpacingLeft2][options][] = "klein"
snippetProperties[contentSpacingLeft2][options][] = "wenig"
snippetProperties[contentSpacingLeft2][options][] = "mittel"
snippetProperties[contentSpacingLeft2][options][] = "mehr"
snippetProperties[contentSpacingLeft2][options][] = "groß"
snippetProperties[contentSpacingRight2][title] = "Bild 2 Content Abstand rechts"
snippetProperties[contentSpacingRight2][type] = "dropdown"
snippetProperties[contentSpacingRight2][default] = 2
snippetProperties[contentSpacingRight2][options][] = "keiner"
snippetProperties[contentSpacingRight2][options][] = "klein"
snippetProperties[contentSpacingRight2][options][] = "wenig"
snippetProperties[contentSpacingRight2][options][] = "mittel"
snippetProperties[contentSpacingRight2][options][] = "mehr"
snippetProperties[contentSpacingRight2][options][] = "groß"
snippetProperties[color2][title] = "Bild 2 Color Layer"
snippetProperties[color2][type] = "dropdown"
snippetProperties[color2][default] = "primary"
snippetProperties[color2][options][none] = "Keine"
snippetProperties[color2][options][primary] = "primary"
snippetProperties[color2][options][secondary] = "secondary"
snippetProperties[color2][options][success] = "success"
snippetProperties[color2][options][danger] = "danger"
snippetProperties[color2][options][warning] = "warning"
snippetProperties[color2][options][info] = "info"
snippetProperties[hoverLayer2][title] = "Bild 2 Hover Layer"
snippetProperties[hoverLayer2][type] = "checkbox"
snippetProperties[hoverLayer2][default] = 1
snippetProperties[hoverLayer2][options][] = ""
snippetProperties[ratio2][title] = "Bild 2 Seitenverhältnis"
snippetProperties[ratio2][type] = "string"
snippetProperties[ratio2][default] = "16:9"
snippetProperties[ratio2][options][] = ""
snippetProperties[source3][title] = "Bild 3 Quelle"
snippetProperties[source3][type] = "string"
snippetProperties[source3][default] = ""
snippetProperties[source3][options][] = ""
snippetProperties[url3][title] = "Bild 3 URL"
snippetProperties[url3][type] = "string"
snippetProperties[url3][default] = ""
snippetProperties[url3][options][] = ""
snippetProperties[title3][title] = "Bild 3 Titel"
snippetProperties[title3][type] = "string"
snippetProperties[title3][default] = ""
snippetProperties[title3][options][] = ""
snippetProperties[text3][title] = "Bild 3 Text"
snippetProperties[text3][type] = "string"
snippetProperties[text3][default] = ""
snippetProperties[text3][options][] = ""
snippetProperties[fontColor3][title] = "Bild 3 Schriftfarbe"
snippetProperties[fontColor3][type] = "dropdown"
snippetProperties[fontColor3][default] = "default"
snippetProperties[fontColor3][options][default] = "Standard"
snippetProperties[fontColor3][options][black] = "Schwarz"
snippetProperties[fontColor3][options][white] = "Weiss"
snippetProperties[fontColor3][options][primary] = "primary"
snippetProperties[fontColor3][options][secondary] = "secondary"
snippetProperties[fontColor3][options][success] = "success"
snippetProperties[fontColor3][options][danger] = "danger"
snippetProperties[fontColor3][options][warning] = "warning"
snippetProperties[fontColor3][options][info] = "info"
snippetProperties[contentHorizontal3][title] = "Bild 3 Content Horizontal"
snippetProperties[contentHorizontal3][type] = "dropdown"
snippetProperties[contentHorizontal3][default] = "left"
snippetProperties[contentHorizontal3][options][left] = "links"
snippetProperties[contentHorizontal3][options][right] = "rechts"
snippetProperties[contentHorizontal3][options][center] = "mittig"
snippetProperties[contentVertical3][title] = "Bild 3 Content Vertikal"
snippetProperties[contentVertical3][type] = "dropdown"
snippetProperties[contentVertical3][default] = "top"
snippetProperties[contentVertical3][options][top] = "oben"
snippetProperties[contentVertical3][options][bottom] = "unten"
snippetProperties[contentVertical3][options][center] = "mittig"
snippetProperties[contentSpacingTop3][title] = "Bild 3 Content Abstand oben"
snippetProperties[contentSpacingTop3][type] = "dropdown"
snippetProperties[contentSpacingTop3][default] = 2
snippetProperties[contentSpacingTop3][options][] = "keiner"
snippetProperties[contentSpacingTop3][options][] = "klein"
snippetProperties[contentSpacingTop3][options][] = "wenig"
snippetProperties[contentSpacingTop3][options][] = "mittel"
snippetProperties[contentSpacingTop3][options][] = "mehr"
snippetProperties[contentSpacingTop3][options][] = "groß"
snippetProperties[contentSpacingBottom3][title] = "Bild 3 Content Abstand unten"
snippetProperties[contentSpacingBottom3][type] = "dropdown"
snippetProperties[contentSpacingBottom3][default] = 2
snippetProperties[contentSpacingBottom3][options][] = "keiner"
snippetProperties[contentSpacingBottom3][options][] = "klein"
snippetProperties[contentSpacingBottom3][options][] = "wenig"
snippetProperties[contentSpacingBottom3][options][] = "mittel"
snippetProperties[contentSpacingBottom3][options][] = "mehr"
snippetProperties[contentSpacingBottom3][options][] = "groß"
snippetProperties[contentSpacingLeft3][title] = "Bild 3 Content Abstand links"
snippetProperties[contentSpacingLeft3][type] = "dropdown"
snippetProperties[contentSpacingLeft3][default] = 2
snippetProperties[contentSpacingLeft3][options][] = "keiner"
snippetProperties[contentSpacingLeft3][options][] = "klein"
snippetProperties[contentSpacingLeft3][options][] = "wenig"
snippetProperties[contentSpacingLeft3][options][] = "mittel"
snippetProperties[contentSpacingLeft3][options][] = "mehr"
snippetProperties[contentSpacingLeft3][options][] = "groß"
snippetProperties[contentSpacingRight3][title] = "Bild 3 Content Abstand rechts"
snippetProperties[contentSpacingRight3][type] = "dropdown"
snippetProperties[contentSpacingRight3][default] = 2
snippetProperties[contentSpacingRight3][options][] = "keiner"
snippetProperties[contentSpacingRight3][options][] = "klein"
snippetProperties[contentSpacingRight3][options][] = "wenig"
snippetProperties[contentSpacingRight3][options][] = "mittel"
snippetProperties[contentSpacingRight3][options][] = "mehr"
snippetProperties[contentSpacingRight3][options][] = "groß"
snippetProperties[color3][title] = "Bild 3 Color Layer"
snippetProperties[color3][type] = "dropdown"
snippetProperties[color3][default] = "primary"
snippetProperties[color3][options][none] = "Keine"
snippetProperties[color3][options][primary] = "primary"
snippetProperties[color3][options][secondary] = "secondary"
snippetProperties[color3][options][success] = "success"
snippetProperties[color3][options][danger] = "danger"
snippetProperties[color3][options][warning] = "warning"
snippetProperties[color3][options][info] = "info"
snippetProperties[hoverLayer3][title] = "Bild 3 Hover Layer"
snippetProperties[hoverLayer3][type] = "checkbox"
snippetProperties[hoverLayer3][default] = 1
snippetProperties[hoverLayer3][options][] = ""
snippetProperties[ratio3][title] = "Bild 3 Seitenverhältnis"
snippetProperties[ratio3][type] = "string"
snippetProperties[ratio3][default] = "16:9"
snippetProperties[ratio3][options][] = ""
snippetProperties[source4][title] = "Bild 4 Quelle"
snippetProperties[source4][type] = "string"
snippetProperties[source4][default] = ""
snippetProperties[source4][options][] = ""
snippetProperties[url4][title] = "Bild 4 URL"
snippetProperties[url4][type] = "string"
snippetProperties[url4][default] = ""
snippetProperties[url4][options][] = ""
snippetProperties[title4][title] = "Bild 4 Titel"
snippetProperties[title4][type] = "string"
snippetProperties[title4][default] = ""
snippetProperties[title4][options][] = ""
snippetProperties[text4][title] = "Bild 4 Text"
snippetProperties[text4][type] = "string"
snippetProperties[text4][default] = ""
snippetProperties[text4][options][] = ""
snippetProperties[fontColor4][title] = "Bild 4 Schriftfarbe"
snippetProperties[fontColor4][type] = "dropdown"
snippetProperties[fontColor4][default] = "default"
snippetProperties[fontColor4][options][default] = "Standard"
snippetProperties[fontColor4][options][black] = "Schwarz"
snippetProperties[fontColor4][options][white] = "Weiss"
snippetProperties[fontColor4][options][primary] = "primary"
snippetProperties[fontColor4][options][secondary] = "secondary"
snippetProperties[fontColor4][options][success] = "success"
snippetProperties[fontColor4][options][danger] = "danger"
snippetProperties[fontColor4][options][warning] = "warning"
snippetProperties[fontColor4][options][info] = "info"
snippetProperties[contentHorizontal4][title] = "Bild 4 Content Horizontal"
snippetProperties[contentHorizontal4][type] = "dropdown"
snippetProperties[contentHorizontal4][default] = "left"
snippetProperties[contentHorizontal4][options][left] = "links"
snippetProperties[contentHorizontal4][options][right] = "rechts"
snippetProperties[contentHorizontal4][options][center] = "mittig"
snippetProperties[contentVertical4][title] = "Bild 4 Content Vertikal"
snippetProperties[contentVertical4][type] = "dropdown"
snippetProperties[contentVertical4][default] = "top"
snippetProperties[contentVertical4][options][top] = "oben"
snippetProperties[contentVertical4][options][bottom] = "unten"
snippetProperties[contentVertical4][options][center] = "mittig"
snippetProperties[contentSpacingTop4][title] = "Bild 4 Content Abstand oben"
snippetProperties[contentSpacingTop4][type] = "dropdown"
snippetProperties[contentSpacingTop4][default] = 2
snippetProperties[contentSpacingTop4][options][] = "keiner"
snippetProperties[contentSpacingTop4][options][] = "klein"
snippetProperties[contentSpacingTop4][options][] = "wenig"
snippetProperties[contentSpacingTop4][options][] = "mittel"
snippetProperties[contentSpacingTop4][options][] = "mehr"
snippetProperties[contentSpacingTop4][options][] = "groß"
snippetProperties[contentSpacingBottom4][title] = "Bild 4 Content Abstand unten"
snippetProperties[contentSpacingBottom4][type] = "dropdown"
snippetProperties[contentSpacingBottom4][default] = 2
snippetProperties[contentSpacingBottom4][options][] = "keiner"
snippetProperties[contentSpacingBottom4][options][] = "klein"
snippetProperties[contentSpacingBottom4][options][] = "wenig"
snippetProperties[contentSpacingBottom4][options][] = "mittel"
snippetProperties[contentSpacingBottom4][options][] = "mehr"
snippetProperties[contentSpacingBottom4][options][] = "groß"
snippetProperties[contentSpacingLeft4][title] = "Bild 4 Content Abstand links"
snippetProperties[contentSpacingLeft4][type] = "dropdown"
snippetProperties[contentSpacingLeft4][default] = 2
snippetProperties[contentSpacingLeft4][options][] = "keiner"
snippetProperties[contentSpacingLeft4][options][] = "klein"
snippetProperties[contentSpacingLeft4][options][] = "wenig"
snippetProperties[contentSpacingLeft4][options][] = "mittel"
snippetProperties[contentSpacingLeft4][options][] = "mehr"
snippetProperties[contentSpacingLeft4][options][] = "groß"
snippetProperties[contentSpacingRight4][title] = "Bild 4 Content Abstand rechts"
snippetProperties[contentSpacingRight4][type] = "dropdown"
snippetProperties[contentSpacingRight4][default] = 2
snippetProperties[contentSpacingRight4][options][] = "keiner"
snippetProperties[contentSpacingRight4][options][] = "klein"
snippetProperties[contentSpacingRight4][options][] = "wenig"
snippetProperties[contentSpacingRight4][options][] = "mittel"
snippetProperties[contentSpacingRight4][options][] = "mehr"
snippetProperties[contentSpacingRight4][options][] = "groß"
snippetProperties[color4][title] = "Bild 4 Color Layer"
snippetProperties[color4][type] = "dropdown"
snippetProperties[color4][default] = "primary"
snippetProperties[color4][options][none] = "Keine"
snippetProperties[color4][options][primary] = "primary"
snippetProperties[color4][options][secondary] = "secondary"
snippetProperties[color4][options][success] = "success"
snippetProperties[color4][options][danger] = "danger"
snippetProperties[color4][options][warning] = "warning"
snippetProperties[color4][options][info] = "info"
snippetProperties[hoverLayer4][title] = "Bild 4 Hover Layer"
snippetProperties[hoverLayer4][type] = "checkbox"
snippetProperties[hoverLayer4][default] = 1
snippetProperties[hoverLayer4][options][] = ""
snippetProperties[ratio4][title] = "Bild 4 Seitenverhältnis"
snippetProperties[ratio4][type] = "string"
snippetProperties[ratio4][default] = "16:9"
snippetProperties[ratio4][options][] = ""
==
{% set partialId = 'jumplink-snippet-images-row' %}

{% if wrapContainer %}
    {% set containerClass = 'container'%}
{% else %}
    {% set containerClass = 'container-fluid'%}
{% endif %}

{% set spacingTopClass = 'pt-md-'~spacingTop %}
{% set spacingBottomClass = 'pb-md-'~spacingBottom %}
{% set spacingLeftClass = 'ml-md-'~spacingLeft %}
{% set spacingRightClass = 'mr-md-'~spacingRight %}
{% set spacingClass = spacingTopClass ~ ' ' ~ spacingBottomClass  ~ ' ' ~ spacingLeftClass  ~ ' ' ~ spacingRightClass %}

{% set columnClass = 'col-xs-'~xs~' offset-xs-'~offsetxs~' col-sm-'~sm~' offset-sm-'~offsetsm~' col-md-'~md~' offset-md-'~offsetmd~' col-lg-'~lg~' offset-lg-'~offsetlg %}

{% set columnSpacingClass = 'my-1' %}

<div class="{{containerClass}} {{spacingClass}} jumplink-partial {{partialId}}"
    data-partial-name="{{partialId}}"
>
    <div class="row">
        {% for index in 1..count %}
            {% if index == 1 %}
                {# image file source from october media manager #}
                {% set source = source1 | media %}

                {# title and text for content #}
                {% set title = title1 %}
                {% set text = text1 %}
                {% set fontColor = fontColor1 %}

                {# url for the a href link #}
                {% set url = url1 %}
                
                {# background color for the layer #}
                {% set color = color1 %}

                {# Show layer on hover or allways #}
                {% set hoverLayer = hoverLayer1 %}

                {# aspect ratio for the image #}
                {% set ratio = ratio1 %}
                
                {# position for content over the image #}
                {% set contentH = contentHorizontal1 %}
                {% set contentV = contentVertical1 %}
                
                {# spacing for the content #}
                {% set contentSpacingTopClass = 'pt-1 pt-md-'~contentSpacingTop1 %}
                {% set contentSpacingBottomClass = 'pb-1 pb-md-'~contentSpacingBottom1 %}
                {% set contentSpacingLeftClass = 'pl-md-'~contentSpacingLeft1 %}
                {% set contentSpacingRightClass = 'pr-md-'~contentSpacingRight1 %}
                
            {% elseif index == 2 %}
                {% set source = source2 | media %}
                {% set title = title2 %}
                {% set text = text2 %}
                {% set fontColor = fontColor2 %}
                {% set url = url2 %}
                {% set color = color2 %}
                {% set hoverLayer = hoverLayer2 %}
                {% set ratio = ratio2 %}
                {% set contentH = contentHorizontal2 %}
                {% set contentV = contentVertical2 %}
                
                {# spacing for the content #}
                {% set contentSpacingTopClass = 'pt-1 pt-md-'~contentSpacingTop2 %}
                {% set contentSpacingBottomClass = 'pb-1 pb-md-'~contentSpacingBottom2 %}
                {% set contentSpacingLeftClass = 'pl-md-'~contentSpacingLeft2 %}
                {% set contentSpacingRightClass = 'pr-md-'~contentSpacingRight2 %}
            {% elseif index == 3 %}
                {% set source = source3 | media %}
                {% set title = title3 %}
                {% set text = text3 %}
                {% set fontColor = fontColor3 %}
                {% set url = url3 %}
                {% set color = color3 %}
                {% set hoverLayer = hoverLayer3 %}
                {% set ratio = ratio3 %}
                {% set contentH = contentHorizontal3 %}
                {% set contentV = contentVertical3 %}
                
                {# spacing for the content #}
                {% set contentSpacingTopClass = 'pt-1 pt-md-'~contentSpacingTop3 %}
                {% set contentSpacingBottomClass = 'pb-1 pb-md-'~contentSpacingBottom3 %}
                {% set contentSpacingLeftClass = 'pl-md-'~contentSpacingLeft3 %}
                {% set contentSpacingRightClass = 'pr-md-'~contentSpacingRight3 %}
            {% elseif index == 4 %}
                {% set source = source4 | media %}
                {% set title = title4 %}
                {% set text = text4 %}
                {% set fontColor = fontColor4 %}
                {% set url = url4 %}
                {% set color = color4 %}
                {% set hoverLayer = hoverLayer4 %}
                {% set ratio = ratio4 %}
                {% set contentH = contentHorizontal4 %}
                {% set contentV = contentVertical4 %}
                
                {# spacing for the content #}
                {% set contentSpacingTopClass = 'pt-1 pt-md-'~contentSpacingTop4 %}
                {% set contentSpacingBottomClass = 'pb-1 pb-md-'~contentSpacingBottom4 %}
                {% set contentSpacingLeftClass = 'pl-md-'~contentSpacingLeft4 %}
                {% set contentSpacingRightClass = 'pr-md-'~contentSpacingRight4 %}
            {% endif %}

            {% set contentPostionClass = 'content-position-h-' ~ contentH ~ ' content-position-v-' ~ contentV %}
            {% set contentSpacingClass = contentSpacingTopClass ~ ' ' ~ contentSpacingBottomClass ~ ' ' ~ contentSpacingLeftClass ~ ' ' ~ contentSpacingRightClass %}
            
            {% set fontColorClass = 'text-' ~ fontColor %}

            {% if hoverLayer %}
                {% set contentLayerClass = 'content-layer content-layer-hover bg-' ~ color %}
            {% else %}
                {% set contentLayerClass = 'content-layer bg-' ~ color %}
            {% endif %}

            {# set the wrapper tag, if url is set it is a a element otherwise a div #}
            {% if url %}
                {% set wrapperTag = 'a' %}
            {% else %}
                {% set wrapperTag = 'div' %}
            {% endif %}

            <div class="{{columnClass}} {{columnSpacingClass}}">
                <{{wrapperTag}} class="wrapper" href="{{url | app}}">
                    {# content layer with the selected background color #}
                    <div class="{{contentLayerClass}}">
                        <div class="content {{contentPostionClass}} {{contentSpacingClass}}">
                            <div class="content-texts {{fontColorClass}}">
                                <div class="hyphenate content-title">
                                    {{title}}
                                </div>
                                <div class="content-text">
                                    {{text}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <rv-img src="'{{source}}'" ratio="'{{ratio}}'" alt="'title'" visible-only="false"></rv-img>
                </{{wrapperTag}}>
            </div>
        {% endfor %}
    </div>
</div>