description = "Zeigt ein fixiertes Logo auf der Seite an, beim scrollen wird ein Element der svg ausgeblendet"

[viewBag]
==
{% set partialId = 'jumplink-fixed-logo' %}

{% if source is not defined %}
    {% set source = 'assets/images/logo.svg' %}
{% endif %}

{% if position is not defined %}
    {% set position = 'top-left' %}
{% endif %}

{% if alt is not defined %}
    {% set alt = 'Logo von' ~ this.theme.site_name %}
{% endif %}

{% if width is not defined %}
    {% set width = '10rem' %}
{% endif %}

{% if offsetInPx is not defined %}
    {% set offsetInPx = 20 %}
{% endif %}

{% if hideSelectorOnScroll is not defined %}
    {% set hideSelectorOnScroll = '.text' %}
{% endif %}

<div
    class="jumplink-partial {{partialId}} {{position}}"
    data-partial-name="{{partialId}}"
    data-hide-selector-on-scroll="{{hideSelectorOnScroll}}"
    data-offset-in-px="{{offsetInPx}}"
    style="width: {{width}}"
>
    <a href="/" title="{{alt}}" class="image">
        {% partial '../'~sourceLogo %}
    </a>
    <a href="/" title="{{alt}}" class="text">
        {% partial '../'~sourceText %}
    </a>
    
</div>