[viewBag]
snippetCode = "jumplink-snippet-images-row"
snippetName = "Einheitliche Images Row mit Verlinkungen"
snippetProperties[xs][title] = "Breite auf extra kleinen Geräten"
snippetProperties[xs][type] = "dropdown"
snippetProperties[xs][default] = 12
snippetProperties[xs][options][] = "0/12"
snippetProperties[xs][options][] = "1/12"
snippetProperties[xs][options][] = "2/12"
snippetProperties[xs][options][] = "3/12"
snippetProperties[xs][options][] = "4/12"
snippetProperties[xs][options][] = "5/12"
snippetProperties[xs][options][] = "6/12"
snippetProperties[xs][options][] = "7/12"
snippetProperties[xs][options][] = "8/12"
snippetProperties[xs][options][] = "9/12"
snippetProperties[xs][options][] = "10/12"
snippetProperties[xs][options][] = "11/12"
snippetProperties[xs][options][] = "12/12"
snippetProperties[sm][title] = "Breite auf kleinen Geräten"
snippetProperties[sm][type] = "dropdown"
snippetProperties[sm][default] = 12
snippetProperties[sm][options][] = "0/12"
snippetProperties[sm][options][] = "1/12"
snippetProperties[sm][options][] = "2/12"
snippetProperties[sm][options][] = "3/12"
snippetProperties[sm][options][] = "4/12"
snippetProperties[sm][options][] = "5/12"
snippetProperties[sm][options][] = "6/12"
snippetProperties[sm][options][] = "7/12"
snippetProperties[sm][options][] = "8/12"
snippetProperties[sm][options][] = "9/12"
snippetProperties[sm][options][] = "10/12"
snippetProperties[sm][options][] = "11/12"
snippetProperties[sm][options][] = "12/12"
snippetProperties[md][title] = "Breite auf mittleren Geräten"
snippetProperties[md][type] = "dropdown"
snippetProperties[md][default] = 6
snippetProperties[md][options][] = "0/12"
snippetProperties[md][options][] = "1/12"
snippetProperties[md][options][] = "2/12"
snippetProperties[md][options][] = "3/12"
snippetProperties[md][options][] = "4/12"
snippetProperties[md][options][] = "5/12"
snippetProperties[md][options][] = "6/12"
snippetProperties[md][options][] = "7/12"
snippetProperties[md][options][] = "8/12"
snippetProperties[md][options][] = "9/12"
snippetProperties[md][options][] = "10/12"
snippetProperties[md][options][] = "11/12"
snippetProperties[md][options][] = "12/12"
snippetProperties[lg][title] = "Breite auf breiten Geräten"
snippetProperties[lg][type] = "dropdown"
snippetProperties[lg][default] = 4
snippetProperties[lg][options][] = "0/12"
snippetProperties[lg][options][] = "1/12"
snippetProperties[lg][options][] = "2/12"
snippetProperties[lg][options][] = "3/12"
snippetProperties[lg][options][] = "4/12"
snippetProperties[lg][options][] = "5/12"
snippetProperties[lg][options][] = "6/12"
snippetProperties[lg][options][] = "7/12"
snippetProperties[lg][options][] = "8/12"
snippetProperties[lg][options][] = "9/12"
snippetProperties[lg][options][] = "10/12"
snippetProperties[lg][options][] = "11/12"
snippetProperties[lg][options][] = "12/12"
snippetProperties[xl][title] = "Breite auf extra großen Geräten"
snippetProperties[xl][type] = "dropdown"
snippetProperties[xl][default] = 4
snippetProperties[xl][options][] = "0/12"
snippetProperties[xl][options][] = "1/12"
snippetProperties[xl][options][] = "2/12"
snippetProperties[xl][options][] = "3/12"
snippetProperties[xl][options][] = "4/12"
snippetProperties[xl][options][] = "5/12"
snippetProperties[xl][options][] = "6/12"
snippetProperties[xl][options][] = "7/12"
snippetProperties[xl][options][] = "8/12"
snippetProperties[xl][options][] = "9/12"
snippetProperties[xl][options][] = "10/12"
snippetProperties[xl][options][] = "11/12"
snippetProperties[xl][options][] = "12/12"
snippetProperties[count][title] = "Anzahl Bilder"
snippetProperties[count][type] = "dropdown"
snippetProperties[count][default] = 3
snippetProperties[count][options][] = 0
snippetProperties[count][options][] = 1
snippetProperties[count][options][] = 2
snippetProperties[count][options][] = 3
snippetProperties[count][options][] = 4
snippetProperties[source1][title] = "Bild 1 Quelle"
snippetProperties[source1][type] = "string"
snippetProperties[source1][default] = ""
snippetProperties[source1][options][] = ""
snippetProperties[url1][title] = "Bild 1 URL"
snippetProperties[url1][type] = "string"
snippetProperties[url1][default] = ""
snippetProperties[url1][options][] = ""

snippetProperties[title1][title] = "Bild 1 Titel"
snippetProperties[title1][type] = "string"
snippetProperties[title1][default] = ""
snippetProperties[title1][options][] = ""

snippetProperties[text1][title] = "Bild 1 Text"
snippetProperties[text1][type] = "string"
snippetProperties[text1][default] = ""
snippetProperties[text1][options][] = ""

snippetProperties[contentHorizontal1][title] = "Bild 1 Content Horizontal"
snippetProperties[contentHorizontal1][type] = "dropdown"
snippetProperties[contentHorizontal1][default] = "left"
snippetProperties[contentHorizontal1][options][left] = "links"
snippetProperties[contentHorizontal1][options][right] = "rechts"
snippetProperties[contentHorizontal1][options][center] = "mittig"
snippetProperties[contentVertical1][title] = "Bild 1 Content Vertikal"
snippetProperties[contentVertical1][type] = "dropdown"
snippetProperties[contentVertical1][default] = "top"
snippetProperties[contentVertical1][options][top] = "oben"
snippetProperties[contentVertical1][options][bottom] = "unten"
snippetProperties[contentVertical1][options][center] = "mittig"

snippetProperties[color1][title] = "Bild 1 Color"
snippetProperties[color1][type] = "dropdown"
snippetProperties[color1][default] = "primary"
snippetProperties[color1][options][none] = "Keine"
snippetProperties[color1][options][primary] = "primary"
snippetProperties[color1][options][secondary] = "secondary"
snippetProperties[color1][options][success] = "success"
snippetProperties[color1][options][danger] = "danger"
snippetProperties[color1][options][warning] = "warning"
snippetProperties[color1][options][info] = "info"
snippetProperties[ratio1][title] = "Bild 1 Seitenverhältnis"
snippetProperties[ratio1][type] = "dropdown"
snippetProperties[ratio1][default] = "ratio-2-3"
snippetProperties[ratio1][options][ratio-1-1] = "1:1"
snippetProperties[ratio1][options][ratio-2-3] = "2:3"
snippetProperties[ratio1][options][ratio-2-1] = "2:1"
snippetProperties[ratio1][options][ratio-1-2] = "1:2"
snippetProperties[ratio1][options][ratio-3-2] = "3:2"
snippetProperties[ratio1][options][ratio-4-3] = "4:3"
snippetProperties[ratio1][options][ratio-16-9] = "16:9"
snippetProperties[ratio1][options][ratio-3-4] = "3:4"
snippetProperties[ratio1][options][ratio-3-10] = "3:10"
snippetProperties[ratio1][options][ratio-10-17] = "10:17"
snippetProperties[source2][title] = "Bild 2 Quelle"
snippetProperties[source2][type] = "string"
snippetProperties[source2][default] = ""
snippetProperties[source2][options][] = ""
snippetProperties[url2][title] = "Bild 2 URL"
snippetProperties[url2][type] = "string"
snippetProperties[url2][default] = ""
snippetProperties[url2][options][] = ""

snippetProperties[title2][title] = "Bild 2 Titel"
snippetProperties[title2][type] = "string"
snippetProperties[title2][default] = ""
snippetProperties[title2][options][] = ""

snippetProperties[text2][title] = "Bild 2 Text"
snippetProperties[text2][type] = "string"
snippetProperties[text2][default] = ""
snippetProperties[text2][options][] = ""

snippetProperties[contentHorizontal2][title] = "Bild 2 Content Horizontal"
snippetProperties[contentHorizontal2][type] = "dropdown"
snippetProperties[contentHorizontal2][default] = "left"
snippetProperties[contentHorizontal2][options][left] = "links"
snippetProperties[contentHorizontal2][options][right] = "rechts"
snippetProperties[contentHorizontal2][options][center] = "mittig"
snippetProperties[contentVertical2][title] = "Bild 2 Content Vertikal"
snippetProperties[contentVertical2][type] = "dropdown"
snippetProperties[contentVertical2][default] = "top"
snippetProperties[contentVertical2][options][top] = "oben"
snippetProperties[contentVertical2][options][bottom] = "unten"
snippetProperties[contentVertical2][options][center] = "mittig"

snippetProperties[color2][title] = "Bild 2 Color"
snippetProperties[color2][type] = "dropdown"
snippetProperties[color2][default] = "primary"
snippetProperties[color2][options][none] = "Keine"
snippetProperties[color2][options][primary] = "primary"
snippetProperties[color2][options][secondary] = "secondary"
snippetProperties[color2][options][success] = "success"
snippetProperties[color2][options][danger] = "danger"
snippetProperties[color2][options][warning] = "warning"
snippetProperties[color2][options][info] = "info"
snippetProperties[ratio2][title] = "Bild 2 Seitenverhältnis"
snippetProperties[ratio2][type] = "dropdown"
snippetProperties[ratio2][default] = "ratio-2-3"
snippetProperties[ratio2][options][ratio-1-1] = "1:1"
snippetProperties[ratio2][options][ratio-2-3] = "2:3"
snippetProperties[ratio2][options][ratio-2-1] = "2:1"
snippetProperties[ratio2][options][ratio-1-2] = "1:2"
snippetProperties[ratio2][options][ratio-3-2] = "3:2"
snippetProperties[ratio2][options][ratio-4-3] = "4:3"
snippetProperties[ratio2][options][ratio-16-9] = "16:9"
snippetProperties[ratio2][options][ratio-3-4] = "3:4"
snippetProperties[ratio2][options][ratio-3-10] = "3:10"
snippetProperties[ratio2][options][ratio-10-17] = "10:17"
snippetProperties[source3][title] = "Bild 3 Quelle"
snippetProperties[source3][type] = "string"
snippetProperties[source3][default] = ""
snippetProperties[source3][options][] = ""
snippetProperties[url3][title] = "Bild 3 URL"
snippetProperties[url3][type] = "string"
snippetProperties[url3][default] = ""
snippetProperties[url3][options][] = ""

snippetProperties[title3][title] = "Bild 3 Titel"
snippetProperties[title3][type] = "string"
snippetProperties[title3][default] = ""
snippetProperties[title3][options][] = ""

snippetProperties[text3][title] = "Bild 3 Text"
snippetProperties[text3][type] = "string"
snippetProperties[text3][default] = ""
snippetProperties[text3][options][] = ""

snippetProperties[contentHorizontal3][title] = "Bild 3 Content Horizontal"
snippetProperties[contentHorizontal3][type] = "dropdown"
snippetProperties[contentHorizontal3][default] = "left"
snippetProperties[contentHorizontal3][options][left] = "links"
snippetProperties[contentHorizontal3][options][right] = "rechts"
snippetProperties[contentHorizontal3][options][center] = "mittig"
snippetProperties[contentVertical3][title] = "Bild 3 Content Vertikal"
snippetProperties[contentVertical3][type] = "dropdown"
snippetProperties[contentVertical3][default] = "top"
snippetProperties[contentVertical3][options][top] = "oben"
snippetProperties[contentVertical3][options][bottom] = "unten"
snippetProperties[contentVertical3][options][center] = "mittig"

snippetProperties[color3][title] = "Bild 3 Color"
snippetProperties[color3][type] = "dropdown"
snippetProperties[color3][default] = "primary"
snippetProperties[color3][options][none] = "Keine"
snippetProperties[color3][options][primary] = "primary"
snippetProperties[color3][options][secondary] = "secondary"
snippetProperties[color3][options][success] = "success"
snippetProperties[color3][options][danger] = "danger"
snippetProperties[color3][options][warning] = "warning"
snippetProperties[color3][options][info] = "info"
snippetProperties[ratio3][title] = "Bild 3 Seitenverhältnis"
snippetProperties[ratio3][type] = "dropdown"
snippetProperties[ratio3][default] = "ratio-2-3"
snippetProperties[ratio3][options][ratio-1-1] = "1:1"
snippetProperties[ratio3][options][ratio-2-3] = "2:3"
snippetProperties[ratio3][options][ratio-2-1] = "2:1"
snippetProperties[ratio3][options][ratio-1-2] = "1:2"
snippetProperties[ratio3][options][ratio-3-2] = "3:2"
snippetProperties[ratio3][options][ratio-4-3] = "4:3"
snippetProperties[ratio3][options][ratio-16-9] = "16:9"
snippetProperties[ratio3][options][ratio-3-4] = "3:4"
snippetProperties[ratio3][options][ratio-3-10] = "3:10"
snippetProperties[ratio3][options][ratio-10-17] = "10:17"
snippetProperties[source4][title] = "Bild 4 Quelle"
snippetProperties[source4][type] = "string"
snippetProperties[source4][default] = ""
snippetProperties[source4][options][] = ""
snippetProperties[url4][title] = "Bild 4 URL"
snippetProperties[url4][type] = "string"
snippetProperties[url4][default] = ""
snippetProperties[url4][options][] = ""

snippetProperties[title4][title] = "Bild 4 Titel"
snippetProperties[title4][type] = "string"
snippetProperties[title4][default] = ""
snippetProperties[title4][options][] = ""

snippetProperties[text4][title] = "Bild 4 Text"
snippetProperties[text4][type] = "string"
snippetProperties[text4][default] = ""
snippetProperties[text4][options][] = ""

snippetProperties[contentHorizontal4][title] = "Bild 4 Content Horizontal"
snippetProperties[contentHorizontal4][type] = "dropdown"
snippetProperties[contentHorizontal4][default] = "left"
snippetProperties[contentHorizontal4][options][left] = "links"
snippetProperties[contentHorizontal4][options][right] = "rechts"
snippetProperties[contentHorizontal4][options][center] = "mittig"
snippetProperties[contentVertical4][title] = "Bild 4 Content Vertikal"
snippetProperties[contentVertical4][type] = "dropdown"
snippetProperties[contentVertical4][default] = "top"
snippetProperties[contentVertical4][options][top] = "oben"
snippetProperties[contentVertical4][options][bottom] = "unten"
snippetProperties[contentVertical4][options][center] = "mittig"

snippetProperties[color4][title] = "Bild 4 Color"
snippetProperties[color4][type] = "dropdown"
snippetProperties[color4][default] = "primary"
snippetProperties[color4][options][none] = "Keine"
snippetProperties[color4][options][primary] = "primary"
snippetProperties[color4][options][secondary] = "secondary"
snippetProperties[color4][options][success] = "success"
snippetProperties[color4][options][danger] = "danger"
snippetProperties[color4][options][warning] = "warning"
snippetProperties[color4][options][info] = "info"
snippetProperties[ratio4][title] = "Bild 4 Seitenverhältnis"
snippetProperties[ratio4][type] = "dropdown"
snippetProperties[ratio4][default] = "ratio-2-3"
snippetProperties[ratio4][options][ratio-1-1] = "1:1"
snippetProperties[ratio4][options][ratio-2-3] = "2:3"
snippetProperties[ratio4][options][ratio-2-1] = "2:1"
snippetProperties[ratio4][options][ratio-1-2] = "1:2"
snippetProperties[ratio4][options][ratio-3-2] = "3:2"
snippetProperties[ratio4][options][ratio-4-3] = "4:3"
snippetProperties[ratio4][options][ratio-16-9] = "16:9"
snippetProperties[ratio4][options][ratio-3-4] = "3:4"
snippetProperties[ratio4][options][ratio-3-10] = "3:10"
snippetProperties[ratio4][options][ratio-10-17] = "10:17"
snippetProperties[spacingTop][title] = "Abstand oben"
snippetProperties[spacingTop][type] = "dropdown"
snippetProperties[spacingTop][default] = 5
snippetProperties[spacingTop][options][] = "keiner"
snippetProperties[spacingTop][options][] = "klein"
snippetProperties[spacingTop][options][] = "wenig"
snippetProperties[spacingTop][options][] = "mittel"
snippetProperties[spacingTop][options][] = "mehr"
snippetProperties[spacingTop][options][] = "groß"
snippetProperties[spacingBottom][title] = "Abstand unten"
snippetProperties[spacingBottom][type] = "dropdown"
snippetProperties[spacingBottom][default] = 0
snippetProperties[spacingBottom][options][] = "keiner"
snippetProperties[spacingBottom][options][] = "klein"
snippetProperties[spacingBottom][options][] = "wenig"
snippetProperties[spacingBottom][options][] = "mittel"
snippetProperties[spacingBottom][options][] = "mehr"
snippetProperties[spacingBottom][options][] = "groß"
snippetProperties[spacingLeft][title] = "Abstand links"
snippetProperties[spacingLeft][type] = "dropdown"
snippetProperties[spacingLeft][default] = 3
snippetProperties[spacingLeft][options][] = "keiner"
snippetProperties[spacingLeft][options][] = "klein"
snippetProperties[spacingLeft][options][] = "wenig"
snippetProperties[spacingLeft][options][] = "mittel"
snippetProperties[spacingLeft][options][] = "mehr"
snippetProperties[spacingLeft][options][] = "groß"
snippetProperties[spacingRight][title] = "Abstand rechts"
snippetProperties[spacingRight][type] = "dropdown"
snippetProperties[spacingRight][default] = 3
snippetProperties[spacingRight][options][] = "keiner"
snippetProperties[spacingRight][options][] = "klein"
snippetProperties[spacingRight][options][] = "wenig"
snippetProperties[spacingRight][options][] = "mittel"
snippetProperties[spacingRight][options][] = "mehr"
snippetProperties[spacingRight][options][] = "groß"



==
{% set partialId = 'jumplink-snippet-images-row' %}

{% if wrapContainer %}
    {% set containerClass = 'container'%}
{% else %}
    {% set containerClass = 'container-fluid'%}
{% endif %}

{% set spacingTopClass = 'pt-'~spacingTop %}
{% set spacingBottomClass = 'pb-'~spacingBottom %}
{% set spacingLeftClass = 'ml-'~spacingLeft %}
{% set spacingRightClass = 'mr-'~spacingRight %}
{% set spacingClass = spacingTopClass ~ ' ' ~ spacingBottomClass  ~ ' ' ~ spacingLeftClass  ~ ' ' ~ spacingRightClass %}

{% set columnClass = 'col-'~xs~' col-sm-'~sm~' col-md-'~md~' col-lg-'~lg%}


<div class="{{containerClass}} {{spacingClass}} jumplink-partial {{partialId}}" data-partial-name="{{partialId}}">
    <div class="row">
        {% for index in 1..count %}
            {% if index == 1 %}
                {% set source = source1 | media %}
                {% set title = title1 %}
                {% set text = text1 %}
                {% set url = url1 %}
                {% set color = color1 %}
                {% set ratio = ratio1 %}
                {% set contentH = contentHorizontal1 %}
                {% set contentV = contentVertical1 %}
            {% elseif index == 2 %}
                {% set source = source2 | media %}
                {% set title = title2 %}
                {% set text = text2 %}
                {% set url = url2 %}
                {% set color = color2 %}
                {% set ratio = ratio2 %}
                {% set contentH = contentHorizontal2 %}
                {% set contentV = contentVertical2 %}
            {% elseif index == 3 %}
                {% set source = source3 | media %}
                {% set title = title3 %}
                {% set text = text3 %}
                {% set url = url3 %}
                {% set color = color3 %}
                {% set ratio = ratio3 %}
                {% set contentH = contentHorizontal3 %}
                {% set contentV = contentVertical3 %}
            {% elseif index == 4 %}
                {% set source = source4 | media %}
                {% set title = title4 %}
                {% set text = text4 %}
                {% set url = url4 %}
                {% set color = color4 %}
                {% set ratio = ratio4 %}
                {% set contentH = contentHorizontal4 %}
                {% set contentV = contentVertical4 %}
            {% endif %}

            {% set contentClass = 'content-position-h-' ~ contentH ~ ' content-position-v-' ~ contentV %}
            
            <div class="{{columnClass}}">
                <a class="wrapper" href="{{url | app}}">
                    <div class="background-box {{ratio}} background-box-hover bg-{{color}}">
                        <div class="content {{contentClass}}">
                            <div class="content-texts">
                                <div class="content-title">
                                    {{title}}
                                </div>
                                <div class="content-text">
                                    {{text}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lazy background-box {{ratio}}" data-src="{{source}}"></div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>