[viewBag]
==
{% set partialId = 'jumplink-browser-detection-bar' %}

<div class="jumplink-partial {{partialId}} alert alert-warning visible-on-browser-not-supported" id="{{partialId}}" role="alert" data-partial-name="{{partialId}}">
    Ihr Browser ( {platform.manufacturer}{platform.name}{platform.version_number}) ist veraltet. Aktualisieren Sie für ein vollständiges Erlebnis auf {{this.theme.site_name}}.
    <a href="{{'system/browser-detection' | page}}" class="alert-link no-barba">
        Weitere Informationen
    </a>
</div>