description = "Snippet: Contact Form"

[viewBag]
snippetCode = "jumplink-contact"
snippetName = "Contact Form"
snippetProperties[contentPath][title] = "Inhalt Dateiname (Optional)"
snippetProperties[contentPath][type] = "string"
snippetProperties[contentPath][default] = "contact"
snippetProperties[contentPath][options][] = ""
snippetProperties[source][title] = "Bild Quelle"
snippetProperties[source][type] = "string"
snippetProperties[source][default] = ""
snippetProperties[source][options][] = ""
==
<?php
// you find onSubmitContact in layout telmates
?>
==
<div class="" id="contact" data-target="#contact">
    <header class="py-3">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="">{{headertext}}</h2>
                    {% if source %}
                        <img class="center-block p-b-2" src="{{source | media}}">
                    {% endif %}
                    <div class="mb-3">
                        {% if contentPath %}
                            {% component 'contenteditor' file=contentPath tools="bold,italic,link,heading,subheading,subheading3,subheading4,subheading5,paragraph,unordered-list,ordered-list,table,indent,unindent,line-break,image,video,preformatted" %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-xs-12">
                    {% if __SELF__.enableCaptcha %}
                        <div class="form-group">
                            <div class="g-recaptcha" data-sitekey="{{ __SELF__.siteKey }}"></div>
                        </div>
                    {% endif %}
                    <form class="csontactForm row" role="form"
                          data-request="onSubmitContact"
                          data-request-update="'jumplink-forms/confirm': '.confirm-container'">
                        <div class="col-xs-12">
                            <div class="confirm-container">
                                {# This will contain the confirmation when the email is successfully sent #}
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-7">
                            <div class="form-groups">
                                <fieldset class="form-group">
                                    <textarea class="form-control" name="message" rows="16" required placeholder="Ihre Nachricht ..."></textarea>
                                </fieldset>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-5 d-flex flex-column">
                            <button type="submit" class="btn btn-outline-dark align-self-end hidden-xs-down">Absenden</button>
                            <div class="form-groups">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-success" name="name" required placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-warning" name="email" required placeholder="E-Mail">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-danger" name="phone" required placeholder="Telefon">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-outline-dark align-self-end hidden-sm-up">Absenden</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
</div>