description = "Snippet: Header der Startseite"

[viewBag]
snippetCode = "jumplink-snippet-header-home"
snippetName = "Header der Startseite"
==
{# home header #}
<header class="pt-5">
    <div class="container">
        <div class="row ">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <img class="img-fluid w-100 logo-02 d-block mx-auto" src="{{'assets/images/logo-latelier-creatif.svg' | theme}}" alt="Logo L' Atelier Créatif">
                    </div>
                    <div class="col-xs-12 text-center my-4">
                        <a href="/termine{#{ 'termine'|staticPage }#}" class="btn btn-outline-success">Termine ansehen</a>
                        </div>
                </div>
            </div>
       </div>
        <div class="row pt-5">
            <div class="col-xs-12 col-md-8 offset-md-2">
                <h1 class="text-left">{% content 'home/header-title.txt' %}</h1>
                {% content 'home/header' %}
            </div>
        </div>
        {% partial 'jumplink-centered-image' filename='dekoration-1.svg' desc='Schleife' ySpacing="5" %}
    </div>
</header>