description = "Info Block"

[viewBag]
snippetCode = "jumplink-snippet-info-block-with-content"
snippetName = "Info Block mit Inhalt"
snippetProperties[title][title] = "Titel"
snippetProperties[title][type] = "string"
snippetProperties[title][default] = "Schaue unverbindlich und kostenlos in einer Schnupperstunde vorbei."
snippetProperties[title][options][] = ""
snippetProperties[titleSize][title] = "Title Größe"
snippetProperties[titleSize][type] = "dropdown"
snippetProperties[titleSize][default] = 4
snippetProperties[titleSize][options][] = 1
snippetProperties[titleSize][options][] = 2
snippetProperties[titleSize][options][] = 3
snippetProperties[titleSize][options][] = 4
snippetProperties[titleSize][options][] = 5
snippetProperties[titleSize][options][] = 6
snippetProperties[textAlignment][title] = "Text alignment"
snippetProperties[textAlignment][type] = "dropdown"
snippetProperties[textAlignment][default] = ""
snippetProperties[textAlignment][options][left] = "Linksbündig"
snippetProperties[textAlignment][options][center] = "Zentriert"
snippetProperties[textAlignment][options][justify] = "Blocksatz"
snippetProperties[textAlignment][options][right] = "Rechtsbündig"
snippetProperties[contentPath][title] = "Inhalt Dateiname"
snippetProperties[contentPath][type] = "string"
snippetProperties[contentPath][default] = "do-it-yourself/header"
snippetProperties[contentPath][options][] = ""
==
<div class="row">
    <div class="col-xs-12">
        <p class="h{{titleSize}} text-{{textAlignment}}">
            {{title}}
        </p>
        
        <p>
            {% content contentPath %}
        </p>
    </div>
</div>