[viewBag]
snippetCode = "jumplink-snippet-images-row-with-content"
snippetName = "Image with content inside"
snippetProperties[spacingTop][title] = "Abstand oben"
snippetProperties[spacingTop][type] = "dropdown"
snippetProperties[spacingTop][default] = 0
snippetProperties[spacingTop][options][] = "keiner"
snippetProperties[spacingTop][options][] = "klein"
snippetProperties[spacingTop][options][] = "wenig"
snippetProperties[spacingTop][options][] = "mittel"
snippetProperties[spacingTop][options][] = "mehr"
snippetProperties[spacingTop][options][] = "groß"
snippetProperties[spacingBottom][title] = "Abstand unten"
snippetProperties[spacingBottom][type] = "dropdown"
snippetProperties[spacingBottom][default] = 0
snippetProperties[spacingBottom][options][] = "keiner"
snippetProperties[spacingBottom][options][] = "klein"
snippetProperties[spacingBottom][options][] = "wenig"
snippetProperties[spacingBottom][options][] = "mittel"
snippetProperties[spacingBottom][options][] = "mehr"
snippetProperties[spacingBottom][options][] = "groß"
snippetProperties[spacingLeft][title] = "Abstand links"
snippetProperties[spacingLeft][type] = "dropdown"
snippetProperties[spacingLeft][default] = 3
snippetProperties[spacingLeft][options][] = "keiner"
snippetProperties[spacingLeft][options][] = "klein"
snippetProperties[spacingLeft][options][] = "wenig"
snippetProperties[spacingLeft][options][] = "mittel"
snippetProperties[spacingLeft][options][] = "mehr"
snippetProperties[spacingLeft][options][] = "groß"
snippetProperties[spacingRight][title] = "Abstand rechts"
snippetProperties[spacingRight][type] = "dropdown"
snippetProperties[spacingRight][default] = 3
snippetProperties[spacingRight][options][] = "keiner"
snippetProperties[spacingRight][options][] = "klein"
snippetProperties[spacingRight][options][] = "wenig"
snippetProperties[spacingRight][options][] = "mittel"
snippetProperties[spacingRight][options][] = "mehr"
snippetProperties[spacingRight][options][] = "groß"
snippetProperties[wrapContainer][title] = "Mit Rand"
snippetProperties[wrapContainer][type] = "checkbox"
snippetProperties[wrapContainer][default] = 0
snippetProperties[wrapContainer][options][] = ""
snippetProperties[xs][title] = "Breite auf extra kleinen Geräten"
snippetProperties[xs][type] = "dropdown"
snippetProperties[xs][default] = 12
snippetProperties[xs][options][] = "0/12"
snippetProperties[xs][options][] = "1/12"
snippetProperties[xs][options][] = "2/12"
snippetProperties[xs][options][] = "3/12"
snippetProperties[xs][options][] = "4/12"
snippetProperties[xs][options][] = "5/12"
snippetProperties[xs][options][] = "6/12"
snippetProperties[xs][options][] = "7/12"
snippetProperties[xs][options][] = "8/12"
snippetProperties[xs][options][] = "9/12"
snippetProperties[xs][options][] = "10/12"
snippetProperties[xs][options][] = "11/12"
snippetProperties[xs][options][] = "12/12"
snippetProperties[sm][title] = "Breite auf kleinen Geräten"
snippetProperties[sm][type] = "dropdown"
snippetProperties[sm][default] = 12
snippetProperties[sm][options][] = "0/12"
snippetProperties[sm][options][] = "1/12"
snippetProperties[sm][options][] = "2/12"
snippetProperties[sm][options][] = "3/12"
snippetProperties[sm][options][] = "4/12"
snippetProperties[sm][options][] = "5/12"
snippetProperties[sm][options][] = "6/12"
snippetProperties[sm][options][] = "7/12"
snippetProperties[sm][options][] = "8/12"
snippetProperties[sm][options][] = "9/12"
snippetProperties[sm][options][] = "10/12"
snippetProperties[sm][options][] = "11/12"
snippetProperties[sm][options][] = "12/12"
snippetProperties[md][title] = "Breite auf mittleren Geräten"
snippetProperties[md][type] = "dropdown"
snippetProperties[md][default] = 12
snippetProperties[md][options][] = "0/12"
snippetProperties[md][options][] = "1/12"
snippetProperties[md][options][] = "2/12"
snippetProperties[md][options][] = "3/12"
snippetProperties[md][options][] = "4/12"
snippetProperties[md][options][] = "5/12"
snippetProperties[md][options][] = "6/12"
snippetProperties[md][options][] = "7/12"
snippetProperties[md][options][] = "8/12"
snippetProperties[md][options][] = "9/12"
snippetProperties[md][options][] = "10/12"
snippetProperties[md][options][] = "11/12"
snippetProperties[md][options][] = "12/12"
snippetProperties[lg][title] = "Breite auf breiten Geräten"
snippetProperties[lg][type] = "dropdown"
snippetProperties[lg][default] = 12
snippetProperties[lg][options][] = "0/12"
snippetProperties[lg][options][] = "1/12"
snippetProperties[lg][options][] = "2/12"
snippetProperties[lg][options][] = "3/12"
snippetProperties[lg][options][] = "4/12"
snippetProperties[lg][options][] = "5/12"
snippetProperties[lg][options][] = "6/12"
snippetProperties[lg][options][] = "7/12"
snippetProperties[lg][options][] = "8/12"
snippetProperties[lg][options][] = "9/12"
snippetProperties[lg][options][] = "10/12"
snippetProperties[lg][options][] = "11/12"
snippetProperties[lg][options][] = "12/12"
snippetProperties[xl][title] = "Breite auf extra großen Geräten"
snippetProperties[xl][type] = "dropdown"
snippetProperties[xl][default] = 12
snippetProperties[xl][options][] = "0/12"
snippetProperties[xl][options][] = "1/12"
snippetProperties[xl][options][] = "2/12"
snippetProperties[xl][options][] = "3/12"
snippetProperties[xl][options][] = "4/12"
snippetProperties[xl][options][] = "5/12"
snippetProperties[xl][options][] = "6/12"
snippetProperties[xl][options][] = "7/12"
snippetProperties[xl][options][] = "8/12"
snippetProperties[xl][options][] = "9/12"
snippetProperties[xl][options][] = "10/12"
snippetProperties[xl][options][] = "11/12"
snippetProperties[xl][options][] = "12/12"
snippetProperties[offsetxs][title] = "Linker Abstand auf extra kleinen Geräten"
snippetProperties[offsetxs][type] = "dropdown"
snippetProperties[offsetxs][default] = 0
snippetProperties[offsetxs][options][] = "0/12"
snippetProperties[offsetxs][options][] = "1/12"
snippetProperties[offsetxs][options][] = "2/12"
snippetProperties[offsetxs][options][] = "3/12"
snippetProperties[offsetxs][options][] = "4/12"
snippetProperties[offsetxs][options][] = "5/12"
snippetProperties[offsetxs][options][] = "6/12"
snippetProperties[offsetxs][options][] = "7/12"
snippetProperties[offsetxs][options][] = "8/12"
snippetProperties[offsetxs][options][] = "9/12"
snippetProperties[offsetxs][options][] = "10/12"
snippetProperties[offsetxs][options][] = "11/12"
snippetProperties[offsetxs][options][] = "12/12"
snippetProperties[offsetsm][title] = "Linker Abstand auf kleinen Geräten"
snippetProperties[offsetsm][type] = "dropdown"
snippetProperties[offsetsm][default] = 0
snippetProperties[offsetsm][options][] = "0/12"
snippetProperties[offsetsm][options][] = "1/12"
snippetProperties[offsetsm][options][] = "2/12"
snippetProperties[offsetsm][options][] = "3/12"
snippetProperties[offsetsm][options][] = "4/12"
snippetProperties[offsetsm][options][] = "5/12"
snippetProperties[offsetsm][options][] = "6/12"
snippetProperties[offsetsm][options][] = "7/12"
snippetProperties[offsetsm][options][] = "8/12"
snippetProperties[offsetsm][options][] = "9/12"
snippetProperties[offsetsm][options][] = "10/12"
snippetProperties[offsetsm][options][] = "11/12"
snippetProperties[offsetsm][options][] = "12/12"
snippetProperties[offsetmd][title] = "Linker Abstand auf mittleren Geräten"
snippetProperties[offsetmd][type] = "dropdown"
snippetProperties[offsetmd][default] = 0
snippetProperties[offsetmd][options][] = "0/12"
snippetProperties[offsetmd][options][] = "1/12"
snippetProperties[offsetmd][options][] = "2/12"
snippetProperties[offsetmd][options][] = "3/12"
snippetProperties[offsetmd][options][] = "4/12"
snippetProperties[offsetmd][options][] = "5/12"
snippetProperties[offsetmd][options][] = "6/12"
snippetProperties[offsetmd][options][] = "7/12"
snippetProperties[offsetmd][options][] = "8/12"
snippetProperties[offsetmd][options][] = "9/12"
snippetProperties[offsetmd][options][] = "10/12"
snippetProperties[offsetmd][options][] = "11/12"
snippetProperties[offsetmd][options][] = "12/12"
snippetProperties[offsetlg][title] = "Linker Abstand auf breiten Geräten"
snippetProperties[offsetlg][type] = "dropdown"
snippetProperties[offsetlg][default] = 0
snippetProperties[offsetlg][options][] = "0/12"
snippetProperties[offsetlg][options][] = "1/12"
snippetProperties[offsetlg][options][] = "2/12"
snippetProperties[offsetlg][options][] = "3/12"
snippetProperties[offsetlg][options][] = "4/12"
snippetProperties[offsetlg][options][] = "5/12"
snippetProperties[offsetlg][options][] = "6/12"
snippetProperties[offsetlg][options][] = "7/12"
snippetProperties[offsetlg][options][] = "8/12"
snippetProperties[offsetlg][options][] = "9/12"
snippetProperties[offsetlg][options][] = "10/12"
snippetProperties[offsetlg][options][] = "11/12"
snippetProperties[offsetlg][options][] = "12/12"
snippetProperties[offsetxl][title] = "Linker Abstand auf extra großen Geräten"
snippetProperties[offsetxl][type] = "dropdown"
snippetProperties[offsetxl][default] = 0
snippetProperties[offsetxl][options][] = "0/12"
snippetProperties[offsetxl][options][] = "1/12"
snippetProperties[offsetxl][options][] = "2/12"
snippetProperties[offsetxl][options][] = "3/12"
snippetProperties[offsetxl][options][] = "4/12"
snippetProperties[offsetxl][options][] = "5/12"
snippetProperties[offsetxl][options][] = "6/12"
snippetProperties[offsetxl][options][] = "7/12"
snippetProperties[offsetxl][options][] = "8/12"
snippetProperties[offsetxl][options][] = "9/12"
snippetProperties[offsetxl][options][] = "10/12"
snippetProperties[offsetxl][options][] = "11/12"
snippetProperties[offsetxl][options][] = "12/12"
snippetProperties[source][title] = "Bild Quelle"
snippetProperties[source][type] = "string"
snippetProperties[source][default] = ""
snippetProperties[source][options][] = ""
snippetProperties[loadImageOnViewport][title] = "Load Image on view"
snippetProperties[loadImageOnViewport][type] = "checkbox"
snippetProperties[loadImageOnViewport][default] = 1
snippetProperties[loadImageOnViewport][options][] = ""
snippetProperties[url][title] = "URL"
snippetProperties[url][type] = "string"
snippetProperties[url][default] = ""
snippetProperties[url][options][] = ""
snippetProperties[title][title] = "Titel"
snippetProperties[title][type] = "string"
snippetProperties[title][default] = ""
snippetProperties[title][options][] = ""
snippetProperties[text][title] = "Text"
snippetProperties[text][type] = "string"
snippetProperties[text][default] = ""
snippetProperties[text][options][] = ""
snippetProperties[contentPath][title] = "Inhalt Dateiname (Optional)"
snippetProperties[contentPath][type] = "string"
snippetProperties[contentPath][default] = ""
snippetProperties[contentPath][options][] = ""
snippetProperties[titleWidth][title] = "Title Breite (maximale)"
snippetProperties[titleWidth][type] = "string"
snippetProperties[titleWidth][default] = "100%"
snippetProperties[titleWidth][options][] = ""
snippetProperties[textWidth][title] = "Text/Inhalt Breite (maximale)"
snippetProperties[textWidth][type] = "string"
snippetProperties[textWidth][default] = "100%"
snippetProperties[textWidth][options][] = ""
snippetProperties[fontColor][title] = "Schriftfarbe"
snippetProperties[fontColor][type] = "dropdown"
snippetProperties[fontColor][default] = "default"
snippetProperties[fontColor][options][default] = "Standard"
snippetProperties[fontColor][options][black] = "Schwarz"
snippetProperties[fontColor][options][white] = "Weiss"
snippetProperties[fontColor][options][primary] = "primary"
snippetProperties[fontColor][options][secondary] = "secondary"
snippetProperties[fontColor][options][success] = "success"
snippetProperties[fontColor][options][danger] = "danger"
snippetProperties[fontColor][options][warning] = "warning"
snippetProperties[fontColor][options][info] = "info"
snippetProperties[contentHorizontal][title] = "Content Horizontal"
snippetProperties[contentHorizontal][type] = "dropdown"
snippetProperties[contentHorizontal][default] = "left"
snippetProperties[contentHorizontal][options][left] = "links"
snippetProperties[contentHorizontal][options][right] = "rechts"
snippetProperties[contentHorizontal][options][center] = "mittig"
snippetProperties[contentVertical][title] = "Bild  Content Vertikal"
snippetProperties[contentVertical][type] = "dropdown"
snippetProperties[contentVertical][default] = "top"
snippetProperties[contentVertical][options][top] = "oben"
snippetProperties[contentVertical][options][bottom] = "unten"
snippetProperties[contentVertical][options][center] = "mittig"
snippetProperties[contentSpacingTop][title] = "Content Abstand oben"
snippetProperties[contentSpacingTop][type] = "dropdown"
snippetProperties[contentSpacingTop][default] = 2
snippetProperties[contentSpacingTop][options][] = "keiner"
snippetProperties[contentSpacingTop][options][] = "klein"
snippetProperties[contentSpacingTop][options][] = "wenig"
snippetProperties[contentSpacingTop][options][] = "mittel"
snippetProperties[contentSpacingTop][options][] = "mehr"
snippetProperties[contentSpacingTop][options][] = "groß"
snippetProperties[contentSpacingBottom][title] = "Content Abstand unten"
snippetProperties[contentSpacingBottom][type] = "dropdown"
snippetProperties[contentSpacingBottom][default] = 2
snippetProperties[contentSpacingBottom][options][] = "keiner"
snippetProperties[contentSpacingBottom][options][] = "klein"
snippetProperties[contentSpacingBottom][options][] = "wenig"
snippetProperties[contentSpacingBottom][options][] = "mittel"
snippetProperties[contentSpacingBottom][options][] = "mehr"
snippetProperties[contentSpacingBottom][options][] = "groß"
snippetProperties[contentSpacingLeft][title] = "Content Abstand links"
snippetProperties[contentSpacingLeft][type] = "dropdown"
snippetProperties[contentSpacingLeft][default] = 2
snippetProperties[contentSpacingLeft][options][] = "keiner"
snippetProperties[contentSpacingLeft][options][] = "klein"
snippetProperties[contentSpacingLeft][options][] = "wenig"
snippetProperties[contentSpacingLeft][options][] = "mittel"
snippetProperties[contentSpacingLeft][options][] = "mehr"
snippetProperties[contentSpacingLeft][options][] = "groß"
snippetProperties[contentSpacingRight][title] = "Content Abstand rechts"
snippetProperties[contentSpacingRight][type] = "dropdown"
snippetProperties[contentSpacingRight][default] = 2
snippetProperties[contentSpacingRight][options][] = "keiner"
snippetProperties[contentSpacingRight][options][] = "klein"
snippetProperties[contentSpacingRight][options][] = "wenig"
snippetProperties[contentSpacingRight][options][] = "mittel"
snippetProperties[contentSpacingRight][options][] = "mehr"
snippetProperties[contentSpacingRight][options][] = "groß"
snippetProperties[color][title] = "Color Layer"
snippetProperties[color][type] = "dropdown"
snippetProperties[color][default] = "none"
snippetProperties[color][options][none] = "Keine"
snippetProperties[color][options][primary] = "primary"
snippetProperties[color][options][secondary] = "secondary"
snippetProperties[color][options][success] = "success"
snippetProperties[color][options][danger] = "danger"
snippetProperties[color][options][warning] = "warning"
snippetProperties[color][options][info] = "info"
snippetProperties[hoverLayer][title] = "Hover Layer"
snippetProperties[hoverLayer][type] = "checkbox"
snippetProperties[hoverLayer][default] = 0
snippetProperties[hoverLayer][options][] = ""
snippetProperties[ratio][title] = "Seitenverhältnis"
snippetProperties[ratio][type] = "string"
snippetProperties[ratio][default] = "16:9"
snippetProperties[ratio][options][] = ""
==
{% set partialId = 'jumplink-snippet-image-row-with-content' %}

{% if wrapContainer %}
    {% set containerClass = 'container'%}
{% else %}
    {% set containerClass = 'container-fluid'%}
{% endif %}

{% set spacingTopClass = 'pt-md-'~spacingTop %}
{% set spacingBottomClass = 'pb-md-'~spacingBottom %}
{% set spacingLeftClass = 'ml-md-'~spacingLeft %}
{% set spacingRightClass = 'mr-md-'~spacingRight %}
{% set spacingClass = spacingTopClass ~ ' ' ~ spacingBottomClass  ~ ' ' ~ spacingLeftClass  ~ ' ' ~ spacingRightClass %}

{% set columnClass = 'col-xs-'~xs~' offset-xs-'~offsetxs~' col-sm-'~sm~' offset-sm-'~offsetsm~' col-md-'~md~' offset-md-'~offsetmd~' col-lg-'~lg~' offset-lg-'~offsetlg %}

{% set columnSpacingClass = 'my-1' %}

{# image file source from october media manager #}
{% set source = source | media %}

{# spacing for the content #}
{% set contentSpacingTopClass = 'pt-1 pt-md-'~contentSpacingTop %}
{% set contentSpacingBottomClass = 'pb-1 pb-md-'~contentSpacingBottom %}
{% set contentSpacingLeftClass = 'pl-md-'~contentSpacingLeft %}
{% set contentSpacingRightClass = 'pr-md-'~contentSpacingRight %}

{% set contentPostionClass = 'content-position-h-' ~ contentHorizontal ~ ' content-position-v-' ~ contentVertical %}
{% set contentSpacingClass = contentSpacingTopClass ~ ' ' ~ contentSpacingBottomClass ~ ' ' ~ contentSpacingLeftClass ~ ' ' ~ contentSpacingRightClass %}

{% set fontColorClass = 'text-' ~ fontColor %}

{% if hoverLayer %}
    {% set contentLayerClass = 'content-layer content-layer-hover bg-' ~ color %}
{% else %}
    {% set contentLayerClass = 'content-layer bg-' ~ color %}
{% endif %}

{# set the wrapper tag, if url is set it is a a element otherwise a div #}
{% if url %}
    {% set wrapperTag = 'a' %}
{% else %}
    {% set wrapperTag = 'div' %}
{% endif %}

{% set ratios = ratio|split(':') %}

<div
    class="{{containerClass}} {{spacingClass}} jumplink-partial {{partialId}}"
    data-partial-name="{{partialId}}"
    >
    <div class="row">
        <div class="{{columnClass}} {{columnSpacingClass}}">
            <{{wrapperTag}} class="wrapper" {%if url %}href="{{url | app}}"{% endif %}>
                {# content layer with the selected background color #}
                <div class="{{contentLayerClass}}" >
                    <div class="content {{contentPostionClass}} {{contentSpacingClass}}">
                        <div class="content-texts {{fontColorClass}}">
                            <div class="hyphenate content-title" style="max-width: {{titleWidth}};">
                                {{title}}
                            </div>
                            <div class="content-text" style="max-width: {{textWidth}};">
                              {{text}}
                              {% if contentPath %}
                                {% content contentPath %}
                              {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <rv-img src="'{{source}}'" alt="'{{title}}'" ratio="'{{ratio}}'" visible-only="{{loadImageOnViewport}}"></rv-img>
            </{{wrapperTag}}>
        </div>
    </div>
</div>