description = "Snippet: Header für Seiten aus den Metadaten"

[viewBag]
snippetCode = "jumplink-snippet-header-meta"
snippetName = "Header mit Title und Beschreibung aus den Metadaten"
snippetProperties[textAlignment][title] = "Text alignment"
snippetProperties[textAlignment][type] = "dropdown"
snippetProperties[textAlignment][default] = "left"
snippetProperties[textAlignment][options][left] = "Linksbündig"
snippetProperties[textAlignment][options][center] = "Zentriert"
snippetProperties[textAlignment][options][justify] = "Blocksatz"
snippetProperties[textAlignment][options][right] = "Rechtsbündig"
snippetProperties[wrapContainer][title] = "Mit Rand"
snippetProperties[wrapContainer][type] = "checkbox"
snippetProperties[wrapContainer][default] = 0
snippetProperties[wrapContainer][options][] = ""
snippetProperties[paddingTop][title] = "Abstand oben"
snippetProperties[paddingTop][type] = "dropdown"
snippetProperties[paddingTop][default] = 5
snippetProperties[paddingTop][options][] = "keiner"
snippetProperties[paddingTop][options][] = "klein"
snippetProperties[paddingTop][options][] = "wenig"
snippetProperties[paddingTop][options][] = "mittel"
snippetProperties[paddingTop][options][] = "mehr"
snippetProperties[paddingTop][options][] = "groß"
snippetProperties[paddingBottom][title] = "Abstand unten"
snippetProperties[paddingBottom][type] = "dropdown"
snippetProperties[paddingBottom][default] = 0
snippetProperties[paddingBottom][options][] = "keiner"
snippetProperties[paddingBottom][options][] = "klein"
snippetProperties[paddingBottom][options][] = "wenig"
snippetProperties[paddingBottom][options][] = "mittel"
snippetProperties[paddingBottom][options][] = "mehr"
snippetProperties[paddingBottom][options][] = "groß"
snippetProperties[titleFontFamily][title] = "Titel Schrift"
snippetProperties[titleFontFamily][type] = "dropdown"
snippetProperties[titleFontFamily][default] = "second"
snippetProperties[titleFontFamily][options][first] = "Erste"
snippetProperties[titleFontFamily][options][second] = "Zweite"
snippetProperties[textFontFamily][title] = "Text Schrift"
snippetProperties[textFontFamily][type] = "dropdown"
snippetProperties[textFontFamily][default] = "first"
snippetProperties[textFontFamily][options][first] = "Erste"
snippetProperties[textFontFamily][options][second] = "Zweite"
snippetProperties[titleWidth][title] = "Title Breite"
snippetProperties[titleWidth][type] = "string"
snippetProperties[titleWidth][default] = "100%"
snippetProperties[titleWidth][options][] = ""
snippetProperties[textWidth][title] = "Text Breite"
snippetProperties[textWidth][type] = "string"
snippetProperties[textWidth][default] = "100%"
snippetProperties[textWidth][options][] = ""
snippetProperties[xs][title] = "Breite auf extra kleinen Geräten"
snippetProperties[xs][type] = "dropdown"
snippetProperties[xs][default] = 12
snippetProperties[xs][options][] = "0/12"
snippetProperties[xs][options][] = "1/12"
snippetProperties[xs][options][] = "2/12"
snippetProperties[xs][options][] = "3/12"
snippetProperties[xs][options][] = "4/12"
snippetProperties[xs][options][] = "5/12"
snippetProperties[xs][options][] = "6/12"
snippetProperties[xs][options][] = "7/12"
snippetProperties[xs][options][] = "8/12"
snippetProperties[xs][options][] = "9/12"
snippetProperties[xs][options][] = "10/12"
snippetProperties[xs][options][] = "11/12"
snippetProperties[xs][options][] = "12/12"
snippetProperties[sm][title] = "Breite auf kleinen Geräten"
snippetProperties[sm][type] = "dropdown"
snippetProperties[sm][default] = 12
snippetProperties[sm][options][] = "0/12"
snippetProperties[sm][options][] = "1/12"
snippetProperties[sm][options][] = "2/12"
snippetProperties[sm][options][] = "3/12"
snippetProperties[sm][options][] = "4/12"
snippetProperties[sm][options][] = "5/12"
snippetProperties[sm][options][] = "6/12"
snippetProperties[sm][options][] = "7/12"
snippetProperties[sm][options][] = "8/12"
snippetProperties[sm][options][] = "9/12"
snippetProperties[sm][options][] = "10/12"
snippetProperties[sm][options][] = "11/12"
snippetProperties[sm][options][] = "12/12"
snippetProperties[md][title] = "Breite auf mittleren Geräten"
snippetProperties[md][type] = "dropdown"
snippetProperties[md][default] = 12
snippetProperties[md][options][] = "0/12"
snippetProperties[md][options][] = "1/12"
snippetProperties[md][options][] = "2/12"
snippetProperties[md][options][] = "3/12"
snippetProperties[md][options][] = "4/12"
snippetProperties[md][options][] = "5/12"
snippetProperties[md][options][] = "6/12"
snippetProperties[md][options][] = "7/12"
snippetProperties[md][options][] = "8/12"
snippetProperties[md][options][] = "9/12"
snippetProperties[md][options][] = "10/12"
snippetProperties[md][options][] = "11/12"
snippetProperties[md][options][] = "12/12"
snippetProperties[lg][title] = "Breite auf breiten Geräten"
snippetProperties[lg][type] = "dropdown"
snippetProperties[lg][default] = 12
snippetProperties[lg][options][] = "0/12"
snippetProperties[lg][options][] = "1/12"
snippetProperties[lg][options][] = "2/12"
snippetProperties[lg][options][] = "3/12"
snippetProperties[lg][options][] = "4/12"
snippetProperties[lg][options][] = "5/12"
snippetProperties[lg][options][] = "6/12"
snippetProperties[lg][options][] = "7/12"
snippetProperties[lg][options][] = "8/12"
snippetProperties[lg][options][] = "9/12"
snippetProperties[lg][options][] = "10/12"
snippetProperties[lg][options][] = "11/12"
snippetProperties[lg][options][] = "12/12"
snippetProperties[xl][title] = "Breite auf extra großen Geräten"
snippetProperties[xl][type] = "dropdown"
snippetProperties[xl][default] = 12
snippetProperties[xl][options][] = "0/12"
snippetProperties[xl][options][] = "1/12"
snippetProperties[xl][options][] = "2/12"
snippetProperties[xl][options][] = "3/12"
snippetProperties[xl][options][] = "4/12"
snippetProperties[xl][options][] = "5/12"
snippetProperties[xl][options][] = "6/12"
snippetProperties[xl][options][] = "7/12"
snippetProperties[xl][options][] = "8/12"
snippetProperties[xl][options][] = "9/12"
snippetProperties[xl][options][] = "10/12"
snippetProperties[xl][options][] = "11/12"
snippetProperties[xl][options][] = "12/12"
snippetProperties[offsetxs][title] = "Linker Abstand auf extra kleinen Geräten"
snippetProperties[offsetxs][type] = "dropdown"
snippetProperties[offsetxs][default] = 0
snippetProperties[offsetxs][options][] = "0/12"
snippetProperties[offsetxs][options][] = "1/12"
snippetProperties[offsetxs][options][] = "2/12"
snippetProperties[offsetxs][options][] = "3/12"
snippetProperties[offsetxs][options][] = "4/12"
snippetProperties[offsetxs][options][] = "5/12"
snippetProperties[offsetxs][options][] = "6/12"
snippetProperties[offsetxs][options][] = "7/12"
snippetProperties[offsetxs][options][] = "8/12"
snippetProperties[offsetxs][options][] = "9/12"
snippetProperties[offsetxs][options][] = "10/12"
snippetProperties[offsetxs][options][] = "11/12"
snippetProperties[offsetxs][options][] = "12/12"
snippetProperties[offsetsm][title] = "Linker Abstand auf kleinen Geräten"
snippetProperties[offsetsm][type] = "dropdown"
snippetProperties[offsetsm][default] = 0
snippetProperties[offsetsm][options][] = "0/12"
snippetProperties[offsetsm][options][] = "1/12"
snippetProperties[offsetsm][options][] = "2/12"
snippetProperties[offsetsm][options][] = "3/12"
snippetProperties[offsetsm][options][] = "4/12"
snippetProperties[offsetsm][options][] = "5/12"
snippetProperties[offsetsm][options][] = "6/12"
snippetProperties[offsetsm][options][] = "7/12"
snippetProperties[offsetsm][options][] = "8/12"
snippetProperties[offsetsm][options][] = "9/12"
snippetProperties[offsetsm][options][] = "10/12"
snippetProperties[offsetsm][options][] = "11/12"
snippetProperties[offsetsm][options][] = "12/12"
snippetProperties[offsetmd][title] = "Linker Abstand auf mittleren Geräten"
snippetProperties[offsetmd][type] = "dropdown"
snippetProperties[offsetmd][default] = 0
snippetProperties[offsetmd][options][] = "0/12"
snippetProperties[offsetmd][options][] = "1/12"
snippetProperties[offsetmd][options][] = "2/12"
snippetProperties[offsetmd][options][] = "3/12"
snippetProperties[offsetmd][options][] = "4/12"
snippetProperties[offsetmd][options][] = "5/12"
snippetProperties[offsetmd][options][] = "6/12"
snippetProperties[offsetmd][options][] = "7/12"
snippetProperties[offsetmd][options][] = "8/12"
snippetProperties[offsetmd][options][] = "9/12"
snippetProperties[offsetmd][options][] = "10/12"
snippetProperties[offsetmd][options][] = "11/12"
snippetProperties[offsetmd][options][] = "12/12"
snippetProperties[offsetlg][title] = "Linker Abstand auf breiten Geräten"
snippetProperties[offsetlg][type] = "dropdown"
snippetProperties[offsetlg][default] = 0
snippetProperties[offsetlg][options][] = "0/12"
snippetProperties[offsetlg][options][] = "1/12"
snippetProperties[offsetlg][options][] = "2/12"
snippetProperties[offsetlg][options][] = "3/12"
snippetProperties[offsetlg][options][] = "4/12"
snippetProperties[offsetlg][options][] = "5/12"
snippetProperties[offsetlg][options][] = "6/12"
snippetProperties[offsetlg][options][] = "7/12"
snippetProperties[offsetlg][options][] = "8/12"
snippetProperties[offsetlg][options][] = "9/12"
snippetProperties[offsetlg][options][] = "10/12"
snippetProperties[offsetlg][options][] = "11/12"
snippetProperties[offsetlg][options][] = "12/12"
snippetProperties[offsetxl][title] = "Linker Abstand auf extra großen Geräten"
snippetProperties[offsetxl][type] = "dropdown"
snippetProperties[offsetxl][default] = 0
snippetProperties[offsetxl][options][] = "0/12"
snippetProperties[offsetxl][options][] = "1/12"
snippetProperties[offsetxl][options][] = "2/12"
snippetProperties[offsetxl][options][] = "3/12"
snippetProperties[offsetxl][options][] = "4/12"
snippetProperties[offsetxl][options][] = "5/12"
snippetProperties[offsetxl][options][] = "6/12"
snippetProperties[offsetxl][options][] = "7/12"
snippetProperties[offsetxl][options][] = "8/12"
snippetProperties[offsetxl][options][] = "9/12"
snippetProperties[offsetxl][options][] = "10/12"
snippetProperties[offsetxl][options][] = "11/12"
snippetProperties[offsetxl][options][] = "12/12"
==
{% if wrapContainer %}
    {% set containerClass = 'container'%}
{% else %}
    {% set containerClass = 'container-fluid'%}
{% endif %}

{% set paddingTopClass = 'pt-'~paddingTop %}
{% set paddingBottomClass = 'pb-'~paddingBottom %}

{% set buttonAlignmentClass = 'text-'~buttonAlignment %}

{% set titleFontFamilyClass = 'text-'~titleFontFamily %}
{% set textFontFamilyClass = 'text-'~textFontFamily %}

{% set columnClass = 'col-'~xs~' offset-'~offsetxs~' col-sm-'~sm~' offset-sm-'~offsetsm~' col-md-'~md~' offset-md-'~offsetmd~' col-lg-'~lg~' offset-lg-'~offsetlg%}

<div class="{{containerClass}} text-{{textAlignment}} {{paddingTopClass}} {{paddingBottomClass}}">
    <div class="row">
        <div class="{{columnClass}}">
            <h1 class="{{titleFontFamilyClass}}" style="max-width: {{titleWidth}};">{{page.meta_title | raw}}</h1>
            <p class="{{textFontFamilyClass}}" style="max-width: {{textWidth}};">{{page.meta_description | raw}}</p>
        </div>
    </div>
</div>
