description = "Snippet: Header mit Titel und Untertext"

[viewBag]
snippetCode = "jumplink-snippet-header-with-title-subtext"
snippetName = "Header mit Titel und Untertext"
snippetProperties[title][title] = "Titel"
snippetProperties[title][type] = "string"
snippetProperties[title][default] = ""
snippetProperties[title][options][] = ""
snippetProperties[subtext][title] = "Untertext"
snippetProperties[subtext][type] = "string"
snippetProperties[subtext][default] = ""
snippetProperties[subtext][options][] = ""
snippetProperties[textAlignment][title] = "Text alignment"
snippetProperties[textAlignment][type] = "dropdown"
snippetProperties[textAlignment][default] = ""
snippetProperties[textAlignment][options][left] = "Linksbündig"
snippetProperties[textAlignment][options][center] = "Zentriert"
snippetProperties[textAlignment][options][justify] = "Blocksatz"
snippetProperties[textAlignment][options][right] = "Rechtsbündig"
snippetProperties[wrapContainer][title] = "Mit Rand (.container) umschließen"
snippetProperties[wrapContainer][type] = "checkbox"
snippetProperties[wrapContainer][default] = 0
snippetProperties[wrapContainer][options][] = ""
==
{% partial 'jumplink-header-with-title-subtext' title=title textAlignment=textAlignment subtext=subtext wrapContainer=wrapContainer %}