description = "bottom html code for barba layouts"

[viewBag]
==
<?php
use Cms\Classes\Theme;
use Debugbar as Debugbar;

function onStart()
{
    $theme = Theme::getActiveTheme();
    $basePath = "assets/javascript/components/";
    $path = $theme->getPath()."/".$basePath;
    $components = preg_grep('~\.js~', scandir($path));
    
    $javascriptComponents = array();
    foreach ($components as $index => $componentName) {
        $javascriptComponents[] = $basePath.$componentName;
    }
    
    $this['jsComponents'] = $javascriptComponents;
}
?>
==
<browser-detection-bar></browser-detection-bar>

{# templates for slick #}
<template id="slick-prev-arrow">
    <button type="button" data-role="none" class="slick-prev slick-prev-iconset slick-arrow w-24 h-24" aria-label="Previous" role="button">
        {% partial 'jumplink-iconset' name='arrow_carrot_thin' direction='left' color='gray' size='24' %}
    </button>
</template>

<template id="slick-next-arrow">
    <button type="button" data-role="none" class="slick-next slick-next-iconset slick-arrow w-24 h-24" aria-label="Next" role="button">
        {% partial 'jumplink-iconset' name='arrow_carrot_thin' direction='right' color='gray' size='24' %}
    </button>
</template>

<p class="hyphenate" lang="de" style="display:none;">FORCEHYPHENOPOLY</p>

{# templates for rivets.js #}
{% partial 'jumplink-rivets-templates/index' %}

{# set javascript variables #}
{% partial 'jumplink-javascript-variables' %}

{#
 # Deps:
 # * jquery because its jQuery
 # * jquery.lazy to load images, videos and more asnyc
 # * tether for bootstrap
 # * popper.js - A kickass library to manage your poppers https://popper.js.org
 # * Bootstrap 4 because its Bootstrap
 # * jquery.simpler-sidebar for sidebars
 # * itemslite - A simple and beautiful JavaScript touch carousel (https://github.com/JumpLinkNetwork/itemslide.github.io)
 # * TweenMax for barba page transitions, maybe we cloud replace this with native css
 # * leaflet for location partials
 # * slick for carousels, slideshows and galleries
 # * mobile-events
 # * Hyphenopoly - JavaScript polyfill for client-side hyphenation - https://github.com/mnater/Hyphenopoly
 # * Prism for syntax highlighting in the docs
 # * AlertifyJS - A javascript framework for developing pretty browser dialogs and notifications. https://github.com/MohammadYounes/AlertifyJS
 # * Moment.js for events and dates
 # * Debug for seperation in debug messages in the browser console (need to build the browser version)
 # * Platform.js for browser detection
 # * TODO remove PIGNOSE Calendar is beautiful and eidetic jQuery date picker plguin. https://www.pigno.se/barn/PIGNOSE-Calendar/
 # * Automatically adds datepickers to input[type=date] on IE, Firefox, and OS X Safari.
 # * Summernote Bootstrap WYSIWYG https://summernote.org/
 # * PhotoSwipe - JavaScript image gallery for mobile and desktop, modular, framework independent http://photoswipe.com
 # * Masonry - https://github.com/desandro/masonry
 # * Firebase for own client site extensions like the event managment
 # * Sightglass for rivets
 # * Rivets for dynamic templates like angular but much simpler
 # * barba for async page loading
 # *
 # TODO check if jquery.lazy.plugins.js is usefull http://jquery.eisbehr.de/lazy/
 #}
 
<script>
window.debug = function(affix) {
  var debug = function () {
    if (!localStorage.debug) {
      return;
    }
    var args = [];
    for (let i = 0; i < arguments.length; i++) {
      if (i === 0 && typeof (arguments[i] === "string")) {
        arguments[i] = "%c[" + affix + "] " + arguments[i];
        args.push(arguments[i], "color: red");
      } else {
        args.push(arguments[i]);
      }
    }
    console.debug.apply(console, args);
  };
  return debug;
}
</script>
 
<script src="{{ [
    
    'assets/vendor/firebase/polyfill/dist/polyfill.min.js',
    'assets/vendor/MutationObserver-shim/dist/mutationobserver.min.js',
    'assets/vendor/jquery/dist/jquery.js',
    'assets/vendor/jquery-lazy/jquery.lazy.js',
    'assets/vendor/jquery-lazy/jquery.lazy.plugins.js',
    
    'assets/vendor/tether/dist/js/tether.js',
    'assets/vendor/popper.js/dist/umd/popper.js',
    'assets/vendor/bootstrap/dist/js/bootstrap.js',
    'assets/vendor/simpler-sidebar/dist/jquery.simpler-sidebar.js',
    'assets/vendor/itemslide/dist/itemslide.js',
    'assets/vendor/gsap/src/uncompressed/TweenMax.js',
    'assets/vendor/leaflet/dist/leaflet.js',
    'assets/vendor/slick-carousel/slick/slick.js',
    'assets/vendor/jquery-touch-events/src/jquery.mobile-events.js',
    'assets/vendor/prism/prism.js',
    'assets/vendor/moment/min/moment-with-locales.min.js',
    'assets/vendor/AlertifyJS/build/alertify.js',
    'assets/vendor/vivus/dist/vivus.js',
    'assets/vendor/platform.js/platform.js',
    'assets/vendor/pg-calendar/dist/js/pignose.calendar.full.min.js',
    'assets/vendor/summernote/dist/summernote-bs4.js',
    'assets/vendor/photoswipe/dist/photoswipe.js',
    'assets/vendor/photoswipe/dist/photoswipe-ui-default.js',
    'assets/vendor/masonry-layout/dist/masonry.pkgd.js',
    'assets/vendor/firebase/firebase-app.js',
    'assets/vendor/firebase/firebase-auth.js',
    'assets/vendor/firebase/firebase-firestore.js',
    'assets/vendor/firebase/firebase-storage.js',
    'assets/vendor/sightglass/index.js',
    'assets/vendor/rivets/dist/rivets.js',
    'assets/vendor/barba.js/dist/barba.js',
]|theme }}" ></script> 

{#
    removed:
    'assets/vendor/xhr-polyfill/dist/xhr-polyfill.js',
    'assets/vendor/core/dist/core.min.js',
    'assets/vendor/firebase/firebase.js',
    'assets/vendor/Hyphenopoly/Hyphenopoly_Loader.js',
    'assets/vendor/visionmedia-debug/src/browser.js',
 
 #}


{# Own #}
<script src="{{ [
    'assets/javascript/utilities.js',
    'assets/javascript/events.js',
    'assets/javascript/styleicons.js',
    'assets/javascript/sticky-kit.js',
    'assets/javascript/dataApi.js',
    'assets/javascript/templates.js',
    'assets/javascript/partials.js',
    'assets/javascript/firebase.js',
    
    'assets/javascript/adapters.js',
    'assets/javascript/binders.js',
    'assets/javascript/formatters.js'
] | merge(jsComponents) | theme }}"></script>

{% framework %}
{% scripts %}

 {# start script #}
<script src="{{ [
    'assets/javascript/app.js',
]|theme }}"></script>