.jumplink-snippet-images-row, .jumplink-snippet-image-row, .jumplink-snippet-image-row-with-content {
    .wrapper {
        display: block;
        position: relative;

        .content-layer {
            z-index: 1;
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 1;
            
            &.content-layer-hover {
                opacity: 0;
                transition: opacity .25s ease-in-out;
            }
            
            &:not(.content-layer-hover) {
                
            }
        }
        
        &:hover {
            .content-layer-hover {
                opacity: 0.7; // default opacity for hover effect
            }
        }
        
        .content {
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: auto;
            
            .content-texts {
                z-index: 1;
                .content-title {
                    @extend .h2; // TODO make changeable in snippet
                    @extend .text-second; // TODO make changeable in snippet
                }
            }
        
            &.content-position-h-left {
                text-align: left;
            }
            &.content-position-h-right {
                text-align: right;
            }
            &.content-position-h-center {
                text-align: center;
            }
            
            &.content-position-v-top {
                top: 0;
            }
            &.content-position-v-bottom {
                bottom: 0;
            }
            &.content-position-v-center {
                height: 100%;
                top: 0;
                bottom: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}