[viewBag]
snippetCode = "walking-path"
snippetName = "Walking Path"
snippetProperties[svgFilenameDesktop][title] = "SVG Desktop"
snippetProperties[svgFilenameDesktop][type] = "string"
snippetProperties[svgFilenameDesktop][default] = "walking-path-01-desktop.svg"
snippetProperties[svgFilenameDesktop][options][] = ""
snippetProperties[svgFilenameMobile][title] = "SVG Mobile"
snippetProperties[svgFilenameMobile][type] = "string"
snippetProperties[svgFilenameMobile][default] = "walking-path-01-mobile.svg"
snippetProperties[svgFilenameMobile][options][] = ""
==
{% partial 'jumplink-decorations/walking-path' containerClass=containerClass svgFilenameDesktop=svgFilenameDesktop svgFilenameMobile=svgFilenameMobile %}