[viewBag]
==
{% if wrapContainer %}
    {% set containerClass = 'container'%}
{% else %}
    {% set containerClass = 'container-fluid'%}
{% endif %}


<div class="{{containerClass}} walking-path">
    <div class="row ">
        <div class="col-xs-12 col-md-8 hidden-sm-down">
            {% partial '../assets/images/' ~ svgFilenameDesktop %}
        </div>
        <div class="col-xs-12 hidden-md-up pb-3">
            {% partial '../assets/images/' ~ svgFilenameMobile %}
        </div>
    </div>
</div>

<style type="text/css">
    @keyframes walking-path {
      from {
        stroke-dashoffset: 0;
      }
      to {
        stroke-dashoffset: 1000;
      }
    }
    
    @keyframes draw-path {
      from {
        stroke-dashoffset: 0;
      }
      to {
        stroke-dashoffset: 2000;
      }
    }
        
    .walking-path .path {
        stroke-dasharray: 2000 !important;
        stroke-dashoffset: 0;
        animation: draw-path 10s linear alternate 1;
        animation-fill-mode: forwards; /* hold last frame */
    }
    
    .walking-path .dashed {
        animation: walking-path 100s linear alternate infinite;
    }
    
    .walking-path svg {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>