description = "Snippet: Ereignisse (Firebase)"

[viewBag]
snippetCode = "jumplink-firebase-snippet-next-each"
snippetName = "Ereignisse"
snippetProperties[type][title] = "Typ"
snippetProperties[type][type] = "dropdown"
snippetProperties[type][default] = "fix"
snippetProperties[type][options][fix] = "Öffentliche Führung"
snippetProperties[type][options][variable] = "Führung anfragen"
snippetProperties[type][options][all] = "Alle"
snippetProperties[title][title] = "Titel"
snippetProperties[title][type] = "string"
snippetProperties[title][default] = ""
snippetProperties[title][options][] = ""
snippetProperties[wrapContainer][title] = "Mit Rand"
snippetProperties[wrapContainer][type] = "checkbox"
snippetProperties[wrapContainer][default] = "true"
snippetProperties[wrapContainer][options][] = ""
snippetProperties[style][title] = "Style"
snippetProperties[style][type] = "dropdown"
snippetProperties[style][default] = "fix"
snippetProperties[style][options][fix] = "Öffentliche Führung"
snippetProperties[style][options][variable] = "Führung anfragen"
snippetProperties[style][options][single] = "Einzelnes Event"
snippetProperties[calendar][title] = "Kalender"
snippetProperties[calendar][type] = "dropdown"
snippetProperties[calendar][default] = ""
snippetProperties[calendar][options][all] = "Alle"
snippetProperties[calendar][options][Watt] = "Watt"
snippetProperties[calendar][options][Land] = "Land"
snippetProperties[calendar][options][Fluss] = "Fluss"
snippetProperties[calendar][options][Spezial] = "Spezial"
snippetProperties[limit][title] = "Limit (als Nummer, 0 für ohne Limit)"
snippetProperties[limit][type] = "string"
snippetProperties[limit][default] = 0
snippetProperties[limit][options][] = ""
snippetProperties[startTime][title] = "Startzeit"
snippetProperties[startTime][type] = "dropdown"
snippetProperties[startTime][default] = "future"
snippetProperties[startTime][options][future] = "Zukunft"
snippetProperties[startTime][options][past] = "Vergangenheit"
snippetProperties[startTime][options][all] = "Alle"
snippetProperties[active][title] = "Aktiviert"
snippetProperties[active][type] = "dropdown"
snippetProperties[active][default] = "true"
snippetProperties[active][options][true] = "Ja"
snippetProperties[active][options][false] = "Nein"
snippetProperties[active][options][all] = "Beides"
snippetProperties[excludeCalendar][title] = "Kalender ausschließen"
snippetProperties[excludeCalendar][type] = "dropdown"
snippetProperties[excludeCalendar][default] = "none"
snippetProperties[excludeCalendar][options][none] = "Keinen"
snippetProperties[excludeCalendar][options][Watt] = "Watt"
snippetProperties[excludeCalendar][options][Land] = "Land"
snippetProperties[excludeCalendar][options][Fluss] = "Fluss"
snippetProperties[excludeCalendar][options][Spezial] = "Spezial"
snippetProperties[showGallery][title] = "Zeige Galerie"
snippetProperties[showGallery][type] = "checkbox"
snippetProperties[showGallery][default] = 0
snippetProperties[showGallery][options][] = ""
snippetProperties[galleryTitle][title] = "Galerie Titel"
snippetProperties[galleryTitle][type] = "string"
snippetProperties[galleryTitle][default] = ""
snippetProperties[galleryTitle][options][] = ""
snippetProperties[galleryText][title] = "Galerie Text"
snippetProperties[galleryText][type] = "string"
snippetProperties[galleryText][default] = ""
snippetProperties[galleryText][options][] = ""
snippetProperties[groupBy][title] = "Gruppieren"
snippetProperties[groupBy][type] = "dropdown"
snippetProperties[groupBy][default] = "none"
snippetProperties[groupBy][options][none] = "Nicht gruppieren"
snippetProperties[groupBy][options][title] = "Titel"
snippetProperties[groupBy][options][subtitle] = "Untertitel"
snippetProperties[groupBy][options][handle] = "Handle"
snippetProperties[detailPage][title] = "Detail Page URL"
snippetProperties[detailPage][type] = "string"
snippetProperties[detailPage][default] = ""
snippetProperties[detailPage][options][] = ""
snippetProperties[showToolbar][title] = "Zeige Toolbar"
snippetProperties[showToolbar][type] = "checkbox"
snippetProperties[showToolbar][default] = 0
snippetProperties[showToolbar][options][] = ""
snippetProperties[getEventByUrlIDParam][title] = "Einzelnes Event über URL Parameter"
snippetProperties[getEventByUrlIDParam][type] = "checkbox"
snippetProperties[getEventByUrlIDParam][default] = 0
snippetProperties[getEventByUrlIDParam][options][] = ""
==
{% if wrapContainer %}
    {% set containerClass = 'container'%}
{% else %}
    {% set containerClass = 'container-fluid'%}
{% endif %}

{# rivets component #}
<firebase-events-beautiful
    style="'{{style}}'"
    container-class="'{{containerClass}}'"
    title="'{{title}}'"
    type="'{{type}}'"
    calendar="'{{calendar}}'"
    exclude-calendar="'{{excludeCalendar}}'"
    group-by="'{{groupBy}}'"
    active="'{{active}}'"
    start-time="'{{startTime}}'"
    limit="{{limit}}"
    show-gallery="{{showGallery}}"
    show-toolbar="{{showToolbar}}"
    gallery-title="'{{galleryTitle}}'"
    gallery-text="'{{galleryText}}'"
    detail-page="'{{detailPage | app }}'"
    get-event-by-url-id-param="'{{getEventByUrlIDParam}}'"
    >
</firebase-events-beautiful>