description = "Snippet: Nächstes Ereignis jeden Kalenders (Firebase)"

[viewBag]
snippetCode = "jumplink-firebase-snippet-next-each"
snippetName = "Nächstes Ereignis jeden Kalenders (Firebase)"
==
{% set wrapContainer = true %}

{% if wrapContainer %}
    {% set containerClass = 'container'%}
{% else %}
    {% set containerClass = 'container-fluid'%}
{% endif %}


{# rivets component #}
<firebase-events-beautiful-next-each container-class="'{{containerClass}}'" title="'Nächste öffentliche Führung'" type="'öffentliche Führung'"></firebase-events-beautiful-next-each>