[viewBag]
==
<?php
use Radiantweb\Proevents\Components;
use Radiantweb\Proevents\Models\GeneratedDate as GeneratedDateModel;
use Radiantweb\Proevents\Models\Calendar as CalendarModel;

function onStart()
{
    // anonymos classes only working on php7
    $this['code'] = new class {
        public function getItemDates($group,$event_id) {
            $dates_string = '';
            $events = new GeneratedDateModel();
            $grouped_events = $events->getGroupedDates($event_id,$group);
            foreach($grouped_events  as $e){
                $dates_string .= 'am '.date('d.m.Y',strtotime($e->event_date)).' um ';
                if($e->allday > 0){
                    $dates_string .= 'den ganzen Tag <br/>';
                }else{
                    $dates_string .= date('H:i',strtotime($e->sttime)).' bis '.date('H:i',strtotime($e->entime)).'<br/>';
                }
            }
        
        
            return $dates_string;
        }
        public function getCalender($calendar_id) {
            return CalendarModel::find($calendar_id);
        }
    };
}
?>
==
{% if image_with_ratio is not defined %}
    {% set image_with_ratio = true %}
{% endif %}

{% if image_ratio is not defined %}
    {% set image_ratio = 'ratio-1-1' %}
{% endif %}

{% if link_to_detail is not defined %}
    {% set link_to_detail = false %}
{% endif %}

<div class="row">
    {% for event_item in events %}
        <div class="card border-px-0 my-3 col-xs-12 col-sm-6 col-md-4">
            {% if event_item.event.featured_images[0]['path'] %}
                {% if image_with_ratio %}
                    <div class="card-img-top background-box {{image_ratio}}" style="background-image: url({{event_item.event.featured_images[0]['path']}});"></div>
                {% else %}
            	    <img src="{{event_item.event.featured_images[0]['path']}}" alt="event_{{event.id}}" class="card-img-top" />
            	{% endif %}
            {% endif %}
            <div class="card-header border-px-0 bg-white text-left px-0">
				{% if event_item.grouped > 0 %}
					{#{ __SELF__.getItemDates(event_item.grouped_id,event_item.event_id)|raw }#}
					{{ code.getItemDates(event_item.grouped_id,event_item.event_id)|raw }}
					{{ event_item.event.multidate["date"] }}
					{% for date in event_item.event.multidate %}
					    {{date | json_encode()}}
					{% endfor %}
					
				{% else %}
					am {{ event_item.event_date|date(PE_DATE_SPOKEN) }}
					{% if event_item.allday > 0 %}
						{{'den ganzen Tag'|_}}
					{% else %}
						um {{ event_item.sttime|date(PE_DATE_TIME) }} bis {{ event_item.entime|date(PE_DATE_TIME) }} Uhr
					{% endif %}
				{% endif %}
                <small class="text-muted">
                    <div data-moment-display-to-now="{{event_item.event_date|date('Y-m-d')}} {{event_item.sttime|date('H:i:s')}}">
                        {{event_item.event_date|date('Y-m-d')}} {{event_item.sttime|date('g:i a')}}
                    </div>
                </small>
            </div>
            <div class="card-block px-0">
                <strong class="card-text pt-1">
                    <p>
                        {{ event_item.title }}<br>
                        <small class="text-muted">{{code.getCalender(event_item.calendar_id).name}}</small>
                        {% if event_item.status != '' %}<small class="event_{{event_item.status}}">- {{event_item.status |_}}</small>{% endif %}
                    </p>
                    
                </strong>
                <p class="card-text">
                    {% if event_item.excerpt %}
                        {{ event_item.excerpt|raw }}
                    {% else %}
                        {{ event_item.content|raw }}
                    {% endif %}
                </p>
            </div>
            
            <div class="card-footer border-px-0 bg-white px-0">
                {% if link_to_detail %}
                    <a class="text-success" href="{{ eventpage|page({'event_slug': event_item.title|replace({' ':'-'})|lower,'event_id': event_item.id }) }}/">
                        Details anschauen
                    </a>
                {% endif %}
            </div>
            
        </div>
    {% endfor %}
</div>
{% if pagination > 0 %}
	{{events.render|raw}}
{% endif %}