.bg-white {
    background-color: $white !important;
}
.bg-black {
    background-color: $black !important;
}
.bg-red {
    background-color: $red !important;
}
.bg-orange {
    background-color: $orange !important;
}
.bg-yellow {
    background-color: $yellow !important;
}
.bg-green {
    background-color: $green !important;
}
.bg-blue {
    background-color: $blue !important;
}
.bg-teal {
    background-color: $teal !important;
}
.bg-pink {
    background-color: $pink !important;
}
.bg-purple {
    background-color: $purple !important;
}



.bg-gray-dark {
    background-color: $gray-dark !important;
}
.bg-gray {
    background-color: $gray !important;
}
.bg-gray-light {
    background-color: $gray-light !important;
}
.bg-gray-lighter {
    background-color: $gray-lighter !important;
}
.bg-gray-lightest {
    background-color: $gray-lightest !important;
}
