.nav-tabs {
  &.nav-tabs-underline {
    .nav-item {
      margin-bottom: 0;
    }

    .nav-link {
      border-width: 0 0 $nav-tabs-border-width 0; 
    }

    .nav-link.active,
    .nav-item.show .nav-link {
      border-color: $nav-tabs-active-link-hover-border-color;
    }
  }
}

.card-header {
  background-color: $card-cap-bg;
}

.dropdown-toggle {
     &::after {
         border: none;
    }
}

.nav-item.active {
    color: $green !important;    
}

.navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

#main-navbar {
    .background-01 {
        height: 2rem;
        width: 100%;
    }
}

.navbar-brand {
    font-size: $font-size-base;
}

.dropdown-toggle {
    cursor: pointer;
}

.jumplink-navbar_only-sidebar {
        
}

/**
 * Do not switch to vertical item view on small devices
 */
.navbar-nav {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
}

.navbar-toggler-right {
    position: initial;
    align-self: flex-end;
}
.navbar {
    @include media-breakpoint-down(md) {
        padding: 1.5rem 1.5rem;
    }
    
}