// Allgemein
#barba-wrapper {

}

// Produkt Übersicht
.product-grid-item {
    .bg-as-border-2-px {
        background: transparent;
        padding: 2px;
    }
    
    .product-info {
        opacity: 0;
    }

    &:hover, &:focus, &:active, &.selected {
        .bg-as-border-2-px {
            @extend .gradient-bg;
            padding: 2px;
        }
        
        .product-info {
            opacity: 1;
        }
    }
}