/**
 * This class uses the background color for the font color so you can use a gradient background
 * class like bg-gradient-success-info-warning to have a gradient font color.
 * You can also animate the gradient with a animated-gradient class
 * @see https://blog.kulturbanause.de/2012/12/text-mit-verlauf-uberlagern-in-css3/
 * @see https://www.sitepoint.com/building-linear-gradient-mixin-sass/
 */
.gradient-text {
    -webkit-text-fill-color: transparent !important;
    text-fill-color: transparent !important;
    @include vp-background-clip(text !important);
}


strong {
    font-weight: $font-weight-bold;
}

/**
 * Class to highlight text parts with your second font 
 */
.text-first {
    font-family: $font-family-first;
}

/**
 * Class to highlight text parts with your second font 
 */
.text-second {
    font-family: $font-family-second;
}