/**
 * This class uses the background color for the font color so you can use a gradient background
 * class like bg-gradient-success-info-warning to have a gradient font color.
 * You can also animate the gradient with a animated-gradient class
 * @see https://blog.kulturbanause.de/2012/12/text-mit-verlauf-uberlagern-in-css3/
 * @see https://www.sitepoint.com/building-linear-gradient-mixin-sass/
 */
.gradient-text {
    -webkit-text-fill-color: transparent !important;
    text-fill-color: transparent !important;
    @include vp-background-clip(text !important);
}

.browser-name-microsoft-edge, .browser-name-ie {
   .gradient-text {
        -webkit-text-fill-color: black !important;
        text-fill-color: black !important;
        color: black !important;
        background: none !important;
        background-clip: border-box !important;
    } 
    
}

strong {
    font-weight: $font-weight-bold;
}

/**
 * Class to highlight text parts with your second font 
 */
.text-first {
    font-family: $font-family-first;
}

/**
 * Class to highlight text parts with your second font 
 */
.text-second {
    font-family: $font-family-second;
}


/**
 * Smaler test on small devices
 */
@include media-breakpoint-down(md) {
    h1, .h1 {
        font-size: $font-size-h1 * 0.8;
    }
    
    h2, .h2 {
        font-size: $font-size-h2 * 0.8;
    }
    
    h3, .h3 {
        font-size: $font-size-h3 * 0.8;
    }
    
    h4, .h4 {
        font-size: $font-size-h4 * 0.8;
    }
    
    h5, .h5 {
        font-size: $font-size-h5 * 0.8;
    }
    
    h6, .h6 {
        font-size: $font-size-h6 * 0.8;
    }
    
    body {
        font-size: $font-size-sm;
        line-height: $line-height-base;
    }
}

@include media-breakpoint-down(xs) {
    h1, .h1 {
        font-size: $font-size-h1 * 0.6;
    }
    
    h2, .h2 {
        font-size: $font-size-h2 * 0.6;
    }
    
    h3, .h3 {
        font-size: $font-size-h3 * 0.6;
    }
    
    h4, .h4 {
        font-size: $font-size-h4 * 0.6;
    }
    
    h5, .h5 {
        font-size: $font-size-h5 * 0.6;
    }
    
    h6, .h6 {
        font-size: $font-size-h6 * 0.6;
    }
    
    body {
        font-size: $font-size-xs;
        line-height: $line-height-base;
    }
}

/**
 * Use padding instead of margin to make large fonts visible if they are heigher than the line height
 */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0;
    padding-bottom: $headings-margin-bottom;
}