firebase-events-beautiful-toolbar {
    display: block;
    z-index: 3003;
    
    &.pos-sticky {
        top: -5px;
    }
    .toolbar-form {
        
        .toolbar {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            
            > * {
                padding-left: 15px;
                padding-right: 15px;
            }
            
            .form-group {
                margin-top: 1rem;
                margin-bottom: 1rem;
                .form-control {
                    margin-top: 0;
                    margin-bottom: 0;
                    &#toolbarQuantity {
                       width: 70px;
                    }
                }
            }
        }
        
        .collapse {

        }
                
    }
    
    .card {
        background-color: transparent;
        border: none;
    }
            
} 