firebase-events-beautiful-book-modal {
    .modal-dialog {
        max-width: 1024px !important;
    }
    
    .form-group {
        margin-top: 1rem;
        margin-bottom: 1rem;
        .form-control {
            margin-top: 0;
            margin-bottom: 0;
            &#toolbarQuantity {
               width: 70px;
            }
        }
    }
}
    