firebase-events-beautiful-toolbar {
    display: block;
    z-index: 3003;
    
    &.pos-sticky {
        top: -5px;
    }
    div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $gray;
        
        .form-group {
            margin-top: 1rem;
            margin-bottom: 1rem;
            .form-control {
                margin-top: 0;
                margin-bottom: 0;
            }
        } 
    }
}