description = "Alle Rivets.js templates zum einmaligen einfügen ins Layout"

[viewBag]
==
{# all rivets component templates to include in your main template file #}
{% partial 'jumplink-rivets-templates/firebase-signin-form' %}
{% partial 'jumplink-rivets-templates/firebase-signout-form' %}
{% partial 'jumplink-rivets-templates/firebase-user' %}

{% partial 'jumplink-rivets-templates/firebase-event-form' %}
{% partial 'jumplink-rivets-templates/firebase-events-table' %}
{% partial 'jumplink-rivets-templates/firebase-event-beautiful' %}
{% partial 'jumplink-rivets-templates/firebase-events-beautiful-next' %}
{% partial 'jumplink-rivets-templates/firebase-events-beautiful-next-each' %}

{% partial 'jumplink-rivets-templates/global-modal' %}

{% partial 'jumplink-rivets-templates/walking-path' %}

{% partial 'jumplink-rivets-templates/file-upload' %}
{% partial 'jumplink-rivets-templates/uploaded-files' %}
{% partial 'jumplink-rivets-templates/uploaded-file' %}
{% partial 'jumplink-rivets-templates/preview-files' %}
{% partial 'jumplink-rivets-templates/preview-file' %}