[viewBag]
==
<template id="file-upload">

    <div rv-show="uploadedFiles | size" class="box__files">
        <label for="uploadedFiles">
            Bilder
        </label>
        <div class="file" id="uploadedFiles" rv-each-file="uploadedFiles">
            <img class="img-fluid" rv-src="file.downloadURL" rv-alt="file.metadata.name" rv-id="file.metadata.name">
            <label rv-for="file.metadata.name">
                <small>
                    {file.metadata.name}
                </small>
            </label>
            
        </div>
    </div> 

    <form class="file-upload-box" method="post" action="" enctype="multipart/form-data" rv-class-is-dragover="isDragover" rv-class-is-uploading="isUploading">
        <div class="box__input">
            <input class="box__file" type="file" name="files[]" id="file" data-multiple-caption="{count} files selected" multiple rv-class-has-focus="hasFocus" />
            <label for="file">
                <strong>Choose a file</strong><span> or drag it here</span>.
            </label>
            <button class="box__button" type="submit">Upload</button>
        </div>

        <div rv-show="previewFiles | size" class="box__files">
            <label for="filesToUpload">
                Bilder werden hochgeladen..
            </label>
            <div class="file" id="filesToUpload" rv-each-file="previewFiles">
                <img class="img-fluid" rv-src="file.dataURL" rv-alt="file.name" rv-id="file.name">
                <label rv-for="file.name">
                    <small>
                        {file.name}
                    </small>
                    
                </label>
                
            </div>
        </div>
    </form>

</template>