[viewBag]
==
<uploaded-files label="'Neue Dateien'" files="uploadedFiles"></uploaded-files>

<form class="file-upload-box" method="post" action="" enctype="multipart/form-data" rv-class-is-dragover="isDragover" rv-class-is-uploading="isUploading">
    <div class="box__input">
        <input class="box__file" type="file" name="files[]" id="file" data-multiple-caption="{count} files selected" multiple rv-class-has-focus="hasFocus" />
        <label for="file">
            <strong>Choose a file</strong><span> or drag it here</span>.
        </label>
        <button class="box__button" type="submit">Upload</button>
    </div>

    <preview-files label="'Bilder werden hochgeladen..'" files="previewFiles"></preview-files>
</form>