[viewBag]
==
<div
    rv-class-bg-state-info="event.calendar | eq 'Fluss'"
    rv-class-bg-state-warning="event.calendar | eq 'Watt'"
    rv-class-bg-state-success="event.calendar | eq 'Land'"
    rv-class-animated-gradient="event.calendar | eq 'Spezial'"
    rv-class-bg-gradient-state-success-info-warning="event.calendar | eq 'Spezial'"
>
    <rv-select
        values= "selectEventValues"
        label=""
        on-change="onSelectEventChanged"
    ></rv-select>
    
    <datepicker placeholder="'Datum'" format="'DD.MM.YYYY'" lang="'de'" placeholder="'Datum'" on-change="onDateChanged"></datepicker>
    
    <rv-select
        values= "members"
        label=""
        on-change="onMembersChanged"
    ></rv-select>
    
    <span class="price">{event.price} EUR</span>
    
    <button class="btn btn-outline-dark">Tour buchen</button>
</div>