description = "Schöne Darstellung der nächsten Events jeden Kalenders für die Seitenbesucher"

[viewBag]
==
<template id="firebase-events-beautiful">
  
    <div rv-if="ready">
        <div rv-if="events | empty | not" >
            <firebase-event-beautiful
                rv-each-event="events"
                type="type"
                calendar="calendar"
                active="active"
                style="style"
                title="title"
                event="event"
                limit="limit"
                index="%event%"
                start-time="startTime"
                container-class="containerClass"
            ></firebase-event-beautiful>
        </div>
        
        <div rv-if="events | empty | not">
            <firebase-events-beautiful-gallery
                rv-if="showGallery"
                title="title"
                type="type"
                calendar="calendar"
                style="style"
                events="events"
                container-class="containerClass"
                header-title="galleryTitle"
                header-text="galleryText"
            ></firebase-events-beautiful-gallery>
        </div>
        
        <div rv-if="events | empty" rv-class="containerClass">
            <div class="row">
                <div class="col-xs-12">
                    <span rv-if="startTime | eq 'future'">
                        Leider gibt es momentan keine zukünftige Veranstaltungen.
                    </span>
                    <span rv-if="startTime | eq 'past'">
                        Es gibt noch keine vergangene Veranstaltung.
                    </span>
                    <span rv-if="startTime | eq 'all'">
                        Es gibt noch keine Veranstaltung, bitte haben Sie noch etwas Geduld.
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>