description = "For Admins: Edit or create an event"

[viewBag]
==
<template id="firebase-event-form">

    <!--
    <div class="form-group">
        <label for="eventType">Typ</label>
        <br>
        <select class="custom-select" id="eventType">
            <option rv-each-type="types">{type.label}</option>
        </select>
    </div>
    -->
    
    <rv-select id="eventType" label="'Typ'" values="types" get="getType" set="setType" on-change="typeChanged"></rv-select>
    
    <div class="form-group">
        <label for="eventCalendar">Kalender</label>
        <br>
        <select class="custom-select" id="eventCalendar">
            <option rv-each-calendar="calendars">{calendar.label}</option>
        </select>
    </div>
    
    <div class="form-group">
        <label for="eventTitle">Titel</label>
        <input type="text" class="form-control" id="eventTitle" aria-describedby="eventTitleDesc" placeholder="Neuer Titel" rv-value="event.title">
        <small id="eventTitleDesc" class="form-text text-muted">Der Hauptname deines Ereignisses.</small>
    </div>
    
    <div class="form-group">
        <label for="eventSubtitle">Untertitel</label>
        <input type="text" class="form-control" id="eventSubtitle" aria-describedby="eventSubtitleDesc" placeholder="Neuer Untertitel" rv-value="event.subtitle">
        <small id="eventSubtitleDesc" class="form-text text-muted">Kurzbeschreibung deines neuen Ereignisses.</small>
    </div>
    
    <div class="form-group">
        <label for="eventDesc">Untertitel</label>
        <textarea class="form-control" id="eventDesc" name="editordata" rows="6" aria-describedby="eventDescDesc" placeholder="Deine neue Beschreibung" rv-value="event.description"></textarea>
        <small id="eventDescDesc" class="form-text text-muted">Hauptbeschreibung deines neuen Ereignisses.</small>
    </div>
    
    <div class="form-group">
        <label for="eventEquipment">Ausstattung</label>
        <input type="text" class="form-control" id="eventEquipment" aria-describedby="eventEquipmentDesc" placeholder="Equipment" rv-value="event.equipment"></textarea>
        <small id="eventEquipmentDesc" class="form-text text-muted">Ausstattung die mitzubringen ist.</small>
    </div>
    
    <div class="form-group">
        <label for="eventStartAt">Tag</label>
        <input type="date" class="form-control" id="eventStartAt" aria-describedby="eventStartAtDesc" rv-value="event.startAt">
        <small id="eventStartAtDesc" class="form-text text-muted">Der Tag des Ereignisses.</small>
    </div>
    
    <div class="form-group">
        <label for="eventStartTimeAt">Von</label>
        <input type="time" class="form-control" id="eventStartTimeAt" aria-describedby="eventStartTimeAtDesc" rv-value="event.startTimeAt">
        <small id="eventStartTimeAtDesc" class="form-text text-muted">Startzeit des Ereignisses.</small>
    </div>
    
    <div class="form-group">
        <label for="eventEndTimeAt">Bis</label>
        <input type="time" class="form-control" id="eventEndTimeAt" aria-describedby="eventEndTimeAtDesc" rv-value="event.endTimeAt">
        <small id="eventEndTimeAtDesc" class="form-text text-muted">Endzeit des Ereignisses.</small>
    </div>
    
    <div class="form-group">
        <label for="eventPrice">Preis in €</label>
        <input type="number" class="form-control" id="eventPrice" aria-describedby="eventPriceDesc" rv-value="event.price">
        <small id="eventPriceDesc" class="form-text text-muted">Preis pro Person in Euro.</small>
    </div>
      
    <uploaded-files label="'Bilder'" files="event.images"></uploaded-files>
  
    <file-upload uploaded-files="uploadedImages"></file-upload>
    
    <global-modal></global-modal>
    
    <button rv-if="id | not" class="btn btn-primary" rv-on-click="createEvent">Event anlegen</button>
    <button rv-if="id" class="btn btn-primary" rv-on-click="updateEvent">Event aktualisieren</button>
    
    <a href="{{'firebase/events-table' |page }}" class="btn btn-default">Ereignisse anzeigen</a>

</template>