description = "Schöne Darstellung der nächsten Events jeden Kalenders für die Seitenbesucher"

[viewBag]
==
<template id="firebase-events-beautiful-next-each">
  
    <div rv-each-event="events" rv-show="events"
        class="my-0 py-5"
        rv-class-bg-state-info="event.calendar | eq 'Fluss'"
        rv-class-bg-state-warning="event.calendar | eq 'Watt'"
        rv-class-bg-state-success="event.calendar | eq 'Land'"
        rv-class-animated-gradient="event.calendar | eq 'Spezial'"
        rv-class-bg-gradient-state-success-info-warning="event.calendar | eq 'Spezial'"
        
    >
        <div rv-class="containerClass">   
            <firebase-event-beautiful title="title" event="event" index="%event%"></firebase-event-beautiful>
        </div>
    </div>
</template>