[viewBag]
==
<template id="firebase-user">
    <div class="row">
        <div class="col-12 col-md-6 mx-auto">
            <firebase-signin-form user="user"></firebase-signin-form>
            <firebase-signout-form user="user"></firebase-signout-form>
        </div>
    </div>    

    <div class="row">
        <div rv-show="user" class="col-12 col-md-6 mx-auto">
            
            <a href="{{'firebase/event-create' |page }}" class="btn btn-primary">Ereignis anlegen</a>
        </div>
    </div>    
</template>