[viewBag]
==
<div
    class="toolbar-form px-md-3"
    rv-class-bg-state-info="event.calendar | eq 'Fluss'"
    rv-class-bg-state-warning="event.calendar | eq 'Watt'"
    rv-class-bg-state-success="event.calendar | eq 'Land'"
    rv-class-animated-gradient="event.calendar | eq 'Spezial'"
    rv-class-bg-gradient-state-success-info-warning="event.calendar | eq 'Spezial'"
>
    <div class="toolbar">
    
        <div class="col-xs-12 pt-1 hidden-xl-up">
            Tour anfragen
        </div>
        
        <rv-select
            values="selectEventValues"
            label=""
            on-change="onSelectEventChanged"
        ></rv-select>
        
        <div class="hidden-lg-down">
            <datepicker placeholder="'Datum'" format="'DD.MM.YYYY'" lang="'de'" placeholder="'Datum'" name="'date'" on-change="onDateChanged"></datepicker>
        </div>
        
        <div
            class="form-group hidden-lg-down"
            rv-class-has-error="validation.quantity.error | count"
        >
            <div class="input-group">
                <input type="number" class="form-control" id="toolbarQuantity" rv-value="quantity" placeholder="" name="quantity" rv-on-change="onQuantityChanged" >
                <span class="input-group-addon">Teilnehmer</span>
            </div>
            <div class="validate-tooltip" rv-html="validation.quantity.error"></div>
        </div>
        
        <span class="price hidden-lg-down">{total} EUR</span>
        
        <div class="hidden-lg-down">
            <button class="btn btn-outline-dark" rv-disabled="validation.valid | not" rv-on-click="onBook">Tour anfragen</button>
        </div>
        
        <div class="hidden-xl-up">
            <button class="btn btn-outline-dark btn-toolbar-collapse" rv-on-click="toggleCollapse">
                <span rv-show="collapsed">
                    Verkleinern
                </span>
                
                <span rv-hide="collapsed">
                    Ausklappen
                </span>
            </button>
        </div>
    
    </div>
    
    <div class="collapse pt-md-3">
        <div class="card card-block">
        
            <div class="row hidden-xl-up">
                <div class="col-xs-12 col-md-4 form-group" rv-class-has-error="validation.date.error | count">
                     <datepicker placeholder="'Datum'" format="'DD.MM.YYYY'" lang="'de'" placeholder="'Datum'" name="'date'" on-change="onDateChanged"></datepicker>
                    <div class="validate-tooltip" rv-html="validation.date.error"></div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 form-group" rv-class-has-error="validation.quantity.error | count">
                    <div class="input-group">
                        <input type="number" class="form-control" id="toolbarQuantity" rv-value="quantity" placeholder="" name="quantity" rv-on-change="onQuantityChanged">
                        <span class="input-group-addon">Teilnehmer</span>
                    </div>
                    <div class="validate-tooltip" rv-html="validation.quantity.error"></div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 form-group" rv-class-has-error="validation.total.error | count">
                    <div class="input-group">
                        <input type="number" class="form-control" id="toolbarTotal" rv-value="total" disabled="true" placeholder="Summe" name="total">
                        <span class="input-group-addon">€</span>
                    </div>
                    <div class="validate-tooltip" rv-html="validation.total.error"></div>
                </div>
            </div>
            <div class="row">
                <div
                    class="col-xs-12 col-md-4 form-group"
                    rv-class-has-error="validation.name.error | count"
                >
                    <input type="text" class="form-control" id="toolbarName" rv-value="name" placeholder="Vorname" name="name" autocomplete="given-name" rv-on-change="onFormChanged">
                    <div class="validate-tooltip" rv-html="validation.name.error"></div>
                </div>
                <div
                    class="col-xs-12 col-md-4 form-group"
                    rv-class-has-error="validation.lastname.error | count"
                >
                    <input type="text" class="form-control" id="toolbarLastname" rv-value="lastname" placeholder="Nachname" name="lastname" autocomplete="family-name" rv-on-change="onFormChanged">
                    <div class="validate-tooltip" rv-html="validation.lastname.error"></div>
                </div>
                
                <div
                    class="col-xs-12 col-md-4 form-group"
                    rv-class-has-error="validation.email.error | count"
                >
                    <input type="email" class="form-control" id="toolbarEmail" rv-value="email" placeholder="E-Mail" name="email" autocomplete="email" rv-on-change="onFormChanged">
                    <div class="validate-tooltip" rv-html="validation.email.error"></div>
                </div>
                <div
                    class="col-xs-12 col-md-4 form-group"
                    rv-class-has-error="validation.phone.error | count"
                >
                    <input type="tel" class="form-control" id="toolbarPhone" rv-value="phone" placeholder="Telefonnummer" name="phone" autocomplete="tel" rv-on-change="onFormChanged">
                    <div class="validate-tooltip" rv-html="validation.phone.error"></div>
                </div>
                
                <div
                    class="col-xs-12 col-md-4 form-group"
                    rv-class-has-error="validation.street.error | count"
                >
                    <input type="text" class="form-control" id="toolbarStreet" rv-value="street" placeholder="Straße, Nr." name="street" autocomplete="shipping street-address" rv-on-change="onFormChanged">
                    <div class="validate-tooltip" rv-html="validation.street.error"></div>
                </div>
                <div
                    class="col-xs-12 col-md-4 form-group"
                    rv-class-has-error="validation.zip.error | count"
                >
                    <input type="text" class="form-control" id="toolbarZip" rv-value="zip" placeholder="PLZ" name="zip" autocomplete="shipping postal-code" rv-on-change="onFormChanged">
                    <div class="validate-tooltip" rv-html="validation.zip.error"></div>
                </div>
                
                <div class="col-xs-12 hidden-xl-up text-right">
                    <button class="btn btn-outline-dark" rv-disabled="validation.valid | not" rv-on-click="onBook">Tour anfragen</button>
                </div>
                
                <div class="col-xs-12 pt-2">
                    {% component 'contenteditor' file='buchungsinformation.htm' tools="bold,italic,link,heading,subheading,subheading3,subheading4,subheading5,paragraph,unordered-list,ordered-list,table,indent,unindent,line-break,image,video,preformatted" %}
                <div>
            </div>
        </div>
    </div>
</div>