description = "Alle Rivets.js templates zum einmaligen einfügen ins Layout"

[viewBag]
==
<?php
use Cms\Classes\Theme;
use Debugbar as Debugbar;

function onStart()
{
    $theme = Theme::getActiveTheme();
    $path = $theme->getPath()."/partials/jumplink-rivets-templates/";
    $components = preg_grep('~\.htm~', scandir($path));
    
    $renderedComponents = array();
    foreach ($components as $index => $componentName) {
        $componentName = str_replace('.htm', '', $componentName);
        if($componentName != 'index') {
            $renderedComponents[$componentName] = str_replace('\'', '\\\'', trim(preg_replace('/\s+/', ' ', $this->renderPartial('jumplink-rivets-templates/'.$componentName))));
        }
    }
    
    $this['components'] = $renderedComponents;
}
?>
==
{# all rivets component templates to include in your main template file #}

{# look at the code section where the components twig variable comes from #}
{% put scripts %}
    <script>
        jumplink = window.jumplink || {};
        jumplink.templates = window.jumplink.templates || {};
        
        {% for componentName, component in components %}
            jumplink.templates['{{componentName}}'] = '{{ component |raw }}';
        {% endfor %}
    </script>
{% endput %}