[viewBag]
==
<div class="math-captcha">
    <div class="math-captcha-challenge text-muted" rv-show="loaded">
        <label class="d-block ml-1">
            Sicherheitsfrage
        </label>
        <div class="input-group align-items-center math-captcha-question">
            <div class="input-group-prepend">
                <span class="input-group-text bg-transparent border-0 px-1">{num1}</span>
                <span class="input-group-text bg-transparent border-0 px-1">+</span>
                <span class="input-group-text bg-transparent border-0 px-1">{num2}</span>
                <span class="input-group-text bg-transparent border-0 px-1 math-captcha-hidden" aria-hidden="true">+ {numHidden}</span>
                <span class="input-group-text bg-transparent border-0 px-1">=</span>
            </div>
            <input 
                type="number" 
                class="form-control bg-transparent border-0 px-0 math-captcha-input text-center" 
                name="captcha_answer" 
                rv-value="answer"
                required
                placeholder="?"
                autocomplete="off"
            >
        </div>
        <input type="hidden" name="captcha_token" rv-value="token">
    </div>
    <div class="math-captcha-loading  align-items-center text-muted small" rv-show="loading">
        <span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>
        <span>Laden...</span>
    </div>
    <div class="math-captcha-error text-danger small mt-2" rv-show="error" rv-text="error"></div>
</div>

