description = "Inhaltsseite ohne Titel"

[staticPage]
useContent = 1
default = 0

[contenteditor]
==
<?php
function onSubmitContact() {
    
    Log::info('Used contact form '.post('name'));
    
    $vars = [
        'name' => post('name'),
        'email' => post('email'),
        'phone' => post('phone'),
        'userMessage' => post('message'),
    ];
    
    
    $buildOwnerMessage = function ($message) use ($vars) {
        // TODO use email and name from backend or theme settings
        $message->to('moin@watt-land-fluss.de', 'watt-land-fluss.de');
    };
    
    $buildSenderMessage = function ($message) use ($vars) {
        $message->to($vars['email'], $vars['name']);
    };

    // mail to site owner
    Mail::send('frontend::contact.notify', $vars, $buildOwnerMessage);
    
    // mail to contact sender
    Mail::send('frontend::contact.notify-copy', $vars, $buildSenderMessage);
    
    // TODO catch errors
    $this['result'] = "Nachricht abgeschickt";
}
?>
==
<!DOCTYPE html>
<html lang="de">
    {% partial 'jumplink-layout-head' %}
    <body id="body-{{ str_studly(this.page.title) | lower | replace({'/':'_'}) }}" data-spy="scroll">
        {# Content #}
        <div id="layout-content">
            {% partial 'jumplink-fixed-logo' source='assets/images/logo.svg' position='top-left' width= '10rem' alt='Logo von'~this.theme.site_name %}
            {% partial 'jumplink-navigation/navbar_only-sidebar' %}
            <div id="barba-wrapper">
                <div {% partial 'jumplink-barba-container-attributes' %}>
                    <div class="py-5">
                        {% page %}
                    </div>
                </div>
            </div>
        </div>
        {% partial 'jumplink-footer' %}
        {% partial 'jumplink-layout-barba-body' %}
    </body>
</html>