description = "Inhaltsseite ohne Titel"

[staticPage]
useContent = 1
default = 0
==
<?php
function onSubmitContact() {
    
    Log::info('Used contact form '.post('name'));
    
    $vars = [
        'name' => post('name'),
        'email' => post('email'),
        'phone' => post('phone'),
        'userMessage' => post('message'),
    ];
    
    
    $buildOwnerMessage = function ($message) use ($vars) {
        // TODO use email and name from backend or theme settings
        $message->to('pascal@jumplink.eu', 'watt-land-fluss');
        // $message->subject("Neue Anfrage von ".$vars['name']);
    };
    
    $buildSenderMessage = function ($message) use ($vars) {
        $message->to($vars['email'], $vars['name']);
        // $message->subject("Kopie deiner Anfrage");
    };

    // mail to site owner
    Mail::send('frontend::contact.notify', $vars, $buildOwnerMessage);
    
    // mail to contact sender
    Mail::send('frontend::contact.notify-copy', $vars, $buildSenderMessage);
    
    // TODO catch errors
    $this['result'] = "Nachricht abgeschickt";
}
?>
==
{% partial 'jumplink-layout-barba-top' %}
    <div class="py-5">
        {% page %}
    </div>
{% partial 'jumplink-layout-barba-bottom' %}